<ion-card [routerLink]="['/courses', course.id]">

  <div class="img-container" [ngStyle]="{'background-image': course.cardPhotoUrl ?  'url(' + course.cardPhotoUrl + ')' : (course.photoUrl ?
    'url(' + course.photoUrl + ')' : 'url(' + defaultValue + ')')}">
  </div>

  <ion-card-content>

    <ion-card-title color="sowohigh">{{ course.name.toLocaleUpperCase()}}</ion-card-title>
    <div class="badge-container">
      <ion-badge *ngFor="let badge of course.areas" color="sowohigh">{{ badge }}</ion-badge>
    </div>
    <p class='author'>{{ course.author }}</p>

  </ion-card-content>

</ion-card>
