<app-std-header [user]="user"></app-std-header>


<ion-content class="main-content ion-padding" [fullscreen]="false">
  <!-- <ion-header collapse="condense"> -->
    <!-- When on iOS, this second header will be displayed, and the first header will only show when the users start to scroll. This follows the iOS design guidelines. -->
  <!-- </ion-header> -->

  <div id="container">
    <a href="https://console.firebase.google.com">Firebase Console</a><a class="clickable" (click)="onUpdateAC()">Update AC</a>
    <ion-list>
      <ion-item *ngFor="let user of users">
        <ion-avatar slot="start">
          <img [src]="user.photoUrl ? user.photoUrl : defaultValue" />
        </ion-avatar>
        <ion-label class="clickable-name" [routerLink]="['/onsowers',user.uid]">{{ printName(user) }}</ion-label>

        <ion-badge *ngIf="user.onlyAdmin" color="warning">Oculto</ion-badge>
        <ion-badge *ngIf="user.isAdmin" color="success">Admin</ion-badge>
        <ion-badge *ngIf="user.pendingInfo" color="danger">Incompleto</ion-badge>

      </ion-item>
    </ion-list>

  </div>
</ion-content>
