<ion-header class="ion-no-border top-header" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>HOLA {{user ? user.displayName.toLocaleUpperCase() : ''}}</ion-title>
    <ion-buttons slot="end">
      <!-- <ion-button>
        <ion-icon class="toolbar-icon" name="chatbubbles-outline"></ion-icon>
      </ion-button> -->
      <ion-button (click)="OnDiscord()">
        <ion-icon class="toolbar-icon discord-icon" name="logo-discord"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="main-content ion-padding" [fullscreen]="false">
  <!-- <ion-header collapse="condense"> -->
    <!-- When on iOS, this second header will be displayed, and the first header will only show when the users start to scroll. This follows the iOS design guidelines. -->
  <!-- </ion-header> -->

  <div id="container">
    <h2 class="section-header">MASTERMIND</h2>
    <p>¿Qué es un mastermind?</p>
    <p>Es un encuentro de personas que necesitan inspiración o dar un impulso a su proyecto. En las sesiones de mastermind, cada persona expone su proyecto y en qué fase está y el resto del grupo escucha, da ideas, ayuda, comparte, enseña y apoya.</p>
    <p>Desde On Sowo, te ayudamos a encontrar tu grupo de mastermind y una vez tienes a tu grupo, os ayudamos con una guía para que apliquéis en las sesiones que vayáis llevando a cabo y así poder sacar el máximo provecho del grupo.
    </p>
    <ul>¿Para qué sirve un mastermind?</ul>
      <li class="li-item">Para ser más productivo</li>
      <li class="li-item">Para ayudarte a hacer crecer tu proyecto</li>
      <li class="li-item">Para darte nuevas ideas</li>
      <li class="li-item">Para aprender de los demás</li>
      <li class="li-item">Para marcarte objetivos y cumplirlos</li>
      <li class="li-item">Para escuchar otros puntos de vista</li>
    <p>¿Quieres formar parte de un grupo de mastermind?</p>
    <ion-button type="button"  color="sowohigh" class="ion-padding-end" (click)="onParticipate()">
      APÚNTATE
    </ion-button>
    <!-- <p>Los Masterminds son perfectos para aumentar tu productividad, ir hacia unos objetivos concretos y hacer crecer tu proyecto junto a otros compañeros.<br />Si no sabes muy bien que es o tienes dudas, <a href="https://www.sowo.es/grupos-mastermind/" target="_blank">lee este post.</a></p>
    <p>Si aún así, sigues teniendo dudas, ¡Hablamos por Discord!</p> -->


  </div>
</ion-content>

<ion-footer>
  <!-- <ion-title>HOLA</ion-title> -->
  <ion-toolbar>
    <ion-title>TRABAJA DESDE CUALQUIER PARTE DEL MUNDO PERO NO LO HAGAS SOLO</ion-title>
  </ion-toolbar>
</ion-footer>
