// Content

#container {
  text-align: left;
  // padding: 0 64px;
  padding-left: 5px;
}

ul {
  padding: 0;
  list-style: none;
}

ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: var(--ion-color-sowohigh); /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  font-size: 20px;
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 16px; /* Also needed for space (tweak if needed) */
  // margin-left: 8px; /* Also needed for space (tweak if needed) */
}

li.li-item {
  // text-transform: uppercase;
  padding-bottom: 8px;
  padding-left: 16px;

  // padding-left: 16px;
}

.question {
  font-weight: 500;

}

.question:not(:first-of-type) {
  margin-top: 50px;
}

ion-button.action-button {
  margin-top: 40px;
}

// ion-button::part(native) {
//   padding-left: 48px;
//   padding-right: 48px;
//   border-radius: 20px;
// }




// When side menu hides
// @media only screen and (max-width: 990px) {


//   // Content


// }



// Mobile size
@media only screen and (max-width: 576px) {

  // Content

  #container {
    padding: 0 8px;
  }


}
