<ion-header class="ion-no-border top-header" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>HOLA {{user ? user.displayName.toLocaleUpperCase() : ''}}</ion-title>
    <ion-buttons slot="end">
      <!-- <ion-button>
        <ion-icon class="toolbar-icon" name="chatbubbles-outline"></ion-icon>
      </ion-button> -->
      <ion-button>
        <ion-icon class="toolbar-icon" name="chatbox-ellipses-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="main-content ion-padding" [fullscreen]="false">
  <!-- <ion-header collapse="condense"> -->
    <!-- When on iOS, this second header will be displayed, and the first header will only show when the users start to scroll. This follows the iOS design guidelines. -->
  <!-- </ion-header> -->

  <div id="container">
    <h2 class="section-header">MASTERMIND</h2>
    <p>¿Quieres formar parte de nuestros Masterminds?</p>
    <ion-button type="button"  color="sowohigh" class="ion-padding-end" (click)="onParticipate()">
      QUIERO PARTICIPAR
    </ion-button>
    <p>Los Masterminds son perfectos para aumentar tu productividad, ir hacia unos objetivos concretos y hacer crecer tu proyecto junto a otros compañeros.<br />Si no sabes muy bien que es o tienes dudas, <a href="https://www.sowo.es/grupos-mastermind/" target="_blank">lee este post.</a></p>
    <p>Si aún así, sigues teniendo dudas, ¡Hablamos por Discord!</p>


  </div>
</ion-content>
