// Header area

ion-header.top-header {
  height: 168px;
}

ion-header ion-toolbar {
  margin-top: 48px;
}

ion-header ion-title {
  font-size: 24px;
  text-align: center;
}

ion-menu-button {
  color: var(--ion-color-sowo);
}

.toolbar-icon {
  font-size: 28px;
  // margin-left: 10px;
}

.toolbar-icon.discord-icon {
  font-size: 32px;
}

.buttons-last-slot {
  margin-right: 32px;
}

// Content

#container {
  text-align: left;
  padding: 0 64px;
}

ul {
  padding: 0;
  list-style: none;
}

ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: var(--ion-color-sowohigh); /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  font-size: 20px;
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 16px; /* Also needed for space (tweak if needed) */
  // margin-left: 8px; /* Also needed for space (tweak if needed) */
}

li.li-item {
  // text-transform: uppercase;
  padding-bottom: 8px;
  padding-left: 16px;

  // padding-left: 16px;
}

.question {
  font-weight: 500;

}

.question:not(:first-of-type) {
  margin-top: 50px;
}

ion-button {
  margin-top: 40px;
}

// ion-button::part(native) {
//   padding-left: 48px;
//   padding-right: 48px;
//   border-radius: 20px;
// }

ion-footer ion-toolbar {
  --background: #4B4E47;
  --min-height: 34px;
  --color: #ffffff;
  text-align: center;
}


// When side menu hides
@media only screen and (max-width: 990px) {

  // Header area

  ion-header.top-header {
    height: 56px;
  }

  ion-header ion-toolbar {
    // --background: #F7F7F7;
    margin-top: 0;
  }


  // Content


}



// Mobile size
@media only screen and (max-width: 576px) {

  // Header area

  ion-header ion-title {
    font-size: 18px;
    padding-left: 0;
    padding-right: 0;
  }

  // Content

  #container {
    padding: 0 8px;
  }


  // ion-footer {
  //   display: none;
  // }

}
