<h3 mat-dialog-title>{{ data.name }}</h3>

<mat-dialog-content>
  <h4>{{ osDate | date: 'dd/MM/yyyy' }}</h4>
  <h4>{{ data.hour }}</h4>
  <!-- <p>{{ data.description }}</p> -->
  <div [innerHtml]="makeHtml(data.description)"></div>
  <a *ngIf="data.link" href="http://{{ data.link }}" target="_blank">{{ data.linkText }}</a>
</mat-dialog-content>

<mat-dialog-actions align="end">

  <button *ngIf="data.isAdmin" mat-raised-button type="button" (click)="onEdit()">
      Editar
  </button>

  <button mat-raised-button cdkFocusInitial color="primary" type="button" (click)="onClose()">
      Salir
  </button>
</mat-dialog-actions>
