<app-std-header [user]="user">
  <app-header-button *ngIf="user?.isAdmin" iconName="add-circle-outline" (clicked)="onAdd()"></app-header-button>
</app-std-header>


<ion-content class="main-content ion-padding" [fullscreen]="false">
  <!-- <ion-header collapse="condense"> -->
    <!-- When on iOS, this second header will be displayed, and the first header will only show when the users start to scroll. This follows the iOS design guidelines. -->
  <!-- </ion-header> -->

  <div id="container">

    <ion-row>
      <ion-col size="12">
        <h2 class="section-header">ONLEARNING</h2>
        <p>Aquí podrás encontrar toda la formación y los recursos que tenemos disponibles.</p>
      </ion-col>
    </ion-row>

    <!-- <ion-row class="premium-button-container">
      <ion-col size="12">
        <ion-button type="button"  color="sowohigh" class="ion-padding-end button-premium" (click)="onPremium()">
          QUIERO SER PREMIUM
        </ion-button>
      </ion-col>
    </ion-row> -->

    <div class="search-container">

      <form [formGroup]="searchForm" (submit)="onSearch()">
      <ion-row class="ion-padding-start">
        <h3>BUSCADOR</h3>
      </ion-row>

      <ion-row class="ion-padding-start">
        <ion-col size="12" size-sm="5">
          <div class="select-container">
            <ion-select formControlName="area"
              interface="popover"
              placeholder="Area/Especialidad"
              [selectedText]="searchForm.value.area">
                <ion-select-option [value]="'Todas las areas'">Todas las areas</ion-select-option>
                <ion-select-option *ngFor="let area of areas" [value]="area">{{area}}</ion-select-option>
            </ion-select>
          </div>
        </ion-col>

        <ion-col size="12" size-sm="5">
          <div class="select-container">

            <ion-select formControlName="trainingType"
              interface="popover"
              placeholder="Tipo de formación"
              [selectedText]="searchForm.value.trainingType">
                <ion-select-option [value]="'Todos los tipos'">Todos los tipos</ion-select-option>
                <ion-select-option *ngFor="let trainingType of trainingTypes" [value]="trainingType">{{trainingType}}</ion-select-option>
            </ion-select>

          </div>
        </ion-col>

        <ion-col size="12" size-sm="2" class="button-container">
          <ion-button type="submit" [disabled]="!searchForm.valid"  color="sowohigh" class="ion-padding-end">
            Buscar
          </ion-button>
        </ion-col>

      </ion-row>

      <ion-row  *ngIf="searchFilter" class="ion-padding-start">

        <ion-col size="12" size-sm="12">
          <p class="ion-padding-start filter-text">
            {{ searchFilter ? 'Filtrado por: ' + searchFilter : '' }}
          </p>
        </ion-col>
        <!-- <ion-col size="12" size-sm="2"  class="button-container">
          <ion-button type="submit" [disabled]="!searchForm.valid"  color="sowohigh" class="ion-padding-end">
            Buscar
          </ion-button>
        </ion-col> -->
      </ion-row>
      </form>
    </div>

    <ion-grid>
      <ion-row style="justify-content: flex-start;">

        <ion-col *ngFor="let course of filteredCourses" class="card-col">
          <app-course-card [course]="course"></app-course-card>

        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<app-std-footer></app-std-footer>
