// Content

#container h2:first-of-type {
  margin-top: 0;
}

.calendar {
  // background-color: #eee;
  width: 90%;
  margin: 0 auto 30px auto;

  display: grid;
  // grid-template-rows: repeat(6, 150px);
  // grid-template-rows: repeat(5, 100px);
  grid-template-rows: repeat(5, minmax(100px, max-content));
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 100px;
  grid-auto-rows: minmax(100px, max-content);

  // grid-gap: 30px;

  // justify-items: center;
  // align-items: center;
}

.day {
  // background-color: orangered;
  padding: 0 8px;
  border-top: 1px solid #999;
  border-left: 1px solid #999;

}

.day:nth-child(7n) {
  border-right: 1px solid #999;
}

.day:nth-last-child(-n+7) {
  border-bottom: 1px solid #999;
}


::ng-deep .my-month-picker .mat-calendar-period-button {
  pointer-events: none;
}

::ng-deep .my-month-picker .mat-calendar-arrow {
  display: none;
}

::ng-deep mat-form-field .mat-form-field-infix {
  width: 100px;
}

.calendar .day h2 {
  color: var(--ion-color-sowo);
  font-size: 16px;
  text-align: right;
}

.calendar > .day > .notCurrentMonth {
  color: #ccc;
}

.calendar > .day > .today {
  color: var(--ion-color-sowohigh);
}

.calendar > .day > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.calendar > .day > ul > li {
  font-size: 14px;
}

.item-style {
  cursor: pointer;
}

.item-style:hover {
  text-decoration: underline;
}

::ng-deep .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
  line-height: 32px;
}

.agenda-month {
  margin-left: 16px;
}

.agenda-event {
  margin-left: 32px;
}

.agenda-day {
  display: inline-block;
  color: var(--ion-color-sowohigh);
  width: 24px;
}

.control-line {
  width: 90%;
  margin: 0 auto;
}

.col-toggle {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 30px;
}

.col-month-select {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.col-month-name {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

a {
  color: var(--ion-color-sowo);
}



// When side menu hides
@media only screen and (max-width: 990px) {

  // Content



}




// Mobile size
@media only screen and (max-width: 576px) {

  // Content

  .col-toggle {
    order: 1;
    justify-content: center;
    padding-left: 0;
  }

  .col-month-select {
    order: 2;
    justify-content: center;
  }

  .col-month-name {
    order: 3;
    justify-content: center;
  }

}

