<app-std-header [user]="user">
  <app-header-button *ngIf="user?.isAdmin" iconName="add-circle-outline" (clicked)="onAdd()"></app-header-button>
</app-std-header>

<ion-content class="main-content ion-padding" [fullscreen]="false">
  <!-- <ion-header collapse="condense"> -->
    <!-- When on iOS, this second header will be displayed, and the first header will only show when the users start to scroll. This follows the iOS design guidelines. -->
  <!-- </ion-header> -->

  <div id="container">
    <ion-row>
      <ion-col size="12">
        <h2>EVENTOS</h2>
        <p>¡No te pierdas nada! Mira en el calendario, cuáles son los próximos eventos.</p>
      </ion-col>
    </ion-row>
    <ion-row class="control-line">
      <ion-col *ngIf="!isSmallScreen && displayForm.value.displayControl == 'month'" size="12" size-sm="4" class="col-month-name">
        <h2>{{ monthName }}</h2>
      </ion-col>
      <ion-col *ngIf="displayForm.value.displayControl == 'month'" size="12" size-sm="4" class="col-toggle">
        <form [formGroup]="displayForm">
          <mat-button-toggle-group formControlName="displayControl" (change)="onDisplayToggle($event)">
            <mat-button-toggle value="schedule">Lista</mat-button-toggle>
            <mat-button-toggle value="month">Calendario</mat-button-toggle>
          </mat-button-toggle-group>
        </form>
      </ion-col>
      <ion-col *ngIf="displayForm.value.displayControl != 'month'" size="12" size-sm="4" offset-sm="4" class="col-toggle">
        <form [formGroup]="displayForm">
          <mat-button-toggle-group formControlName="displayControl" (change)="onDisplayToggle($event)">
            <mat-button-toggle value="schedule">Lista</mat-button-toggle>
            <mat-button-toggle value="month">Calendario</mat-button-toggle>
          </mat-button-toggle-group>
        </form>
      </ion-col>
      <ion-col *ngIf="!isSmallScreen && displayForm.value.displayControl == 'month'" size="12" size-sm="4" class="col-month-select">
        <a (click)="onPreviousMonth()" style="cursor: pointer"><ion-icon name="caret-back-outline" style="font-size: 48px; padding-bottom: 16px;"></ion-icon></a>

        <form [formGroup]="pickerForm">
        <mat-form-field >
          <mat-label>Month and Year</mat-label>
          <input matInput [matDatepicker]="dp" formControlName="date" (change)="onChangeDate($event)">
          <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
          <mat-datepicker #dp
                          startView="multi-year"
                          [startAt]="iniDate"
                          (yearSelected)="chosenYearHandler($event)"
                          (monthSelected)="chosenMonthHandler($event, dp)"
                          panelClass="my-month-picker">
          </mat-datepicker>
        </mat-form-field>
      </form>
        <a (click)="onNextMonth()" style="cursor: pointer"><ion-icon name="caret-forward-outline" style="font-size: 48px; padding-bottom: 16px;"></ion-icon></a>

      </ion-col>
    <!-- </ion-row>
    <ion-row *ngIf="!isSmallScreen && displayForm.value.displayControl == 'month'"> -->
    </ion-row>




    <div *ngIf="!isSmallScreen && displayForm.value.displayControl == 'month'" class="calendar">
      <div class="day" *ngFor="let calendarDay of calendarDays">
        <h2 [ngClass]="{notCurrentMonth: !calendarDay.dayInMonth, today: calendarDay.isToday }">{{ calendarDay.day }}</h2>
        <ul>
          <!-- <li *ngFor="let item of calendarDay.items">{{ item.hour }} <a [routerLink]="['/events', item.id]">{{ item.name }}</a></li> -->
          <li *ngFor="let item of calendarDay.items"><a class="item-style" (click)="OnDisplayEvent(item)"><span style="font-weight: 500;">{{ item.hour }}</span> {{ item.name }}</a></li>
        </ul>
      </div>
    </div>

    <div *ngIf="isSmallScreen && displayForm.value.displayControl == 'month'">
      <p>Actualmente el calendario no es visible desde el móvil</p>
    </div>

    <div *ngIf="displayForm.value.displayControl == 'schedule'" class="events-list">
      <ng-container *ngFor="let agendaDay of agendaDays">
        <h2 *ngIf="agendaDay.year != thisYear" class="agenda-year">{{ agendaDay.year }}</h2>
        <ng-container *ngFor="let agendaMonth of agendaDay.months">
          <h3 class="agenda-month">{{ agendaMonth.month.toUpperCase() }}</h3>
          <div class="agenda-event" *ngFor="let agendaEvent of agendaMonth.events">
            <!-- <p><span class="agenda-day">{{ agendaEvent.date.date() }}</span> {{ agendaEvent.hour }} {{ agendaEvent.name }}</p> -->
            <!-- <p><span class="agenda-day">{{ agendaEvent.date.date() }}</span> {{ agendaEvent.hour }} <a [routerLink]="['/events', agendaEvent.id]">{{ agendaEvent.name }}</a></p> -->
            <p><span class="agenda-day">{{ agendaEvent.date.date() }}</span><a class="item-style" (click)="OnDisplayEvent(agendaEvent)">{{ agendaEvent.hour }} {{ agendaEvent.name }}</a></p>


          </div>
        </ng-container>
      </ng-container>
      <!-- <ion-list>
        <ion-item *ngFor="let osEvent of osEvents">
          <ion-label>{{ osEvent.name }} - {{ osEvent.date.format('DD[/]MM[/]YYYY') }}</ion-label>
        </ion-item>
      </ion-list> -->
    </div>


  </div>
</ion-content>

<app-std-footer></app-std-footer>
