// Content

ion-content::part(scroll) {
  padding-top: 0;
}

.img-col {
  padding-top: 0;
}

.badge-container {
  margin-top: 4px;
  padding-top: 4px;
}

ion-badge {
  font-weight: 400;
  margin-right: 8px;
}

.gap-description {
  height: 32px;
}




// @media only screen and (max-width: 1250px) {



// }

// When side menu hides
@media only screen and (max-width: 990px) {

  // Content


}

// Mobile size
@media only screen and (max-width: 576px) {

  // Content

  ion-content::part(scroll) {
    padding-top: 8px;
  }

  .img-col {
    padding-top: 5px;
  }



}

