<app-std-header [user]="user" [back]="'/courses'">
  <app-header-button *ngIf="canEdit" iconName="trash-outline" (clicked)="onDelete()"></app-header-button>
  <app-header-button *ngIf="canEdit && !editing" (clicked)="onEdit()" iconName="create-outline"></app-header-button>
  <app-header-button *ngIf="canEdit && editing" (clicked)="onDone()" iconName="checkmark-outline"> </app-header-button>
</app-std-header>

<!-- <ion-header class="ion-no-border top-header" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button defaultHref="/courses"></ion-back-button>
    </ion-buttons>
    <ion-title>HOLA {{user ? user.displayName.toLocaleUpperCase() : ''}}</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="canEdit" (click)="onDelete()">
        <ion-icon class="toolbar-icon" name="trash-outline"></ion-icon>
      </ion-button>
      <ion-button *ngIf="canEdit && !editing" (click)="onEdit()">
        <ion-icon class="toolbar-icon" name="create-outline"></ion-icon>
      </ion-button>
      <ion-button *ngIf="canEdit && editing" (click)="onDone()">
        <ion-icon class="toolbar-icon" name="checkmark-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="OnDiscord()">
        <ion-icon class="toolbar-icon discord-icon" name="logo-discord"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<ion-content class="main-content ion-padding" [fullscreen]="false">
  <!-- <ion-header collapse="condense"> -->
    <!-- When on iOS, this second header will be displayed, and the first header will only show when the users start to scroll. This follows the iOS design guidelines. -->
  <!-- </ion-header> -->

  <div id="container">
    <ion-row>

      <!-- photoUrl -->
      <ion-col class="img-col" size="12" size-sm="5">
        <app-edit-banner [editMode]="editing" [field]="fields.photoUrl" (editField)="onEditField($event)">
          <div  [ngClass]="{editblock: editing}" class="round-img">
            <ion-img style="object-fit: cover; display: initial; object-position: 50% 50%;" [src]="fields.photoUrl.value ? fields.photoUrl.value : fields.photoUrl.defaultValue"></ion-img>
          </div>
        </app-edit-banner>

        <!-- cardPhotoUrl -->

        <hr *ngIf="editing" style="border-top: 2px solid #5A7687; margin: 10px 0;">

        <app-edit-banner *ngIf="editing" [editMode]="editing" [field]="fields.cardPhotoUrl" (editField)="onEditField($event)">
          <div  [ngClass]="{editblock: editing}" class="round-img">
            <ion-img style="object-fit: cover; display: initial; object-position: 50% 50%;" [src]="fields.cardPhotoUrl.value ? fields.cardPhotoUrl.value : fields.cardPhotoUrl.defaultValue"></ion-img>
          </div>
        </app-edit-banner>
      </ion-col>

      <ion-col size="12" size-sm="7" class="ion-padding-start">

        <!-- Name -->
        <app-edit-banner [editMode]="editing" [field]="fields.name" (editField)="onEditField($event)">
          <h3>{{ fields.name.value }}</h3>
        </app-edit-banner>

        <!-- Badges -->
        <app-edit-banner [editMode]="editing" [field]="fields.areas" (editField)="onEditField($event)">
          <div class="badge-container">
            <ion-badge *ngFor="let badge of fields.areas.value" color="sowohigh">{{ badge }}</ion-badge>
          </div>
        </app-edit-banner>

        <!-- Author -->
        <app-edit-banner [editMode]="editing" [field]="fields.author" (editField)="onEditField($event)">
          <p>{{ fields.author.value }}</p>
        </app-edit-banner>

        <!-- Duration -->
        <app-edit-banner [editMode]="editing" [field]="fields.duration" (editField)="onEditField($event)">
          <p *ngIf="fields.duration.value.trim().length != 0">Duración: {{ fields.duration.value }}</p>
        </app-edit-banner>

        <!-- Training Type -->
        <app-edit-banner [editMode]="editing" [field]="fields.trainingType" (editField)="onEditField($event)">
          <p>Formato del curso: {{ fields.trainingType.value }}</p>
        </app-edit-banner>

        <div class="gap-description"></div>

        <!-- Description -->
        <app-edit-banner [editMode]="editing" [field]="fields.description" (editField)="onEditField($event)">
          <div [innerHtml]="fields.description.value ? makeHtml(fields.description.value) : fields.description.defaultValue"></div>
        </app-edit-banner>

        <!-- fileUrl -->
        <app-edit-banner [editMode]="editing" [field]="fields.fileUrl" (editField)="onEditField($event)">
          <ion-button *ngIf="fields.fileUrl.value || editing" type="button"  color="sowohigh" class="ion-padding-end" (click)="onOpenFile()" [disabled]="!fields.fileUrl.value">
            Descargar PDF
          </ion-button>
        </app-edit-banner>

        <!-- videoUrl -->
        <app-edit-banner [editMode]="editing" [field]="fields.videoUrl" (editField)="onEditField($event)">
          <ion-button *ngIf="fields.videoUrl.value || editing" type="button"  color="sowohigh" class="ion-padding-end" (click)="onOpenVideo()" [disabled]="!fields.videoUrl.value">
            Ver video
          </ion-button>
        </app-edit-banner>

      </ion-col>
    </ion-row>

    <!-- <ion-row>
      <ion-col size="12">

        <app-edit-banner [editMode]="editing" [field]="fields.description" (editField)="onEditField($event)">
          <div [innerHtml]="fields.description.value ? makeHtml(fields.description.value) : fields.description.defaultValue"></div>
        </app-edit-banner>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">

        <app-edit-banner [editMode]="editing" [field]="fields.fileUrl" (editField)="onEditField($event)">
          <ion-button *ngIf="fields.fileUrl.value || editing" type="button"  color="sowohigh" class="ion-padding-end" (click)="onOpenFile()" [disabled]="!fields.fileUrl.value">
            Descargar PDF
          </ion-button>
        </app-edit-banner>
      </ion-col>
    </ion-row> -->

  </div>
</ion-content>
