<ion-content class="ion-padding" [fullscreen]="false">
  <!-- <ion-header collapse="condense">
    When on iOS, this second header will be displayed, and the first header will only show when the users start to scroll. This follows the iOS design guidelines.
  </ion-header> -->
  <div id="container">
    <div class="login-container">

      <ion-img src="../../../assets/img/on.png"></ion-img>
      <!-- <h2>¡BIENVENID@ A ON SOWO, {{ user.displayName.toUpperCase() }}!</h2> -->
      <!-- <ng-container *ngIf="user"> -->
      <ng-container>
        <p>¡Ya casi estás!</p>
        <p>Necesitamos que vayas a tu correo electrónico para validar tu email.</p>
        <p>Si no encuentras el mail de validación, revisa la carpeta de spam. Podemos enviarte otro correo de confirmación pulsando <a style="cursor: pointer" (click)="OnNewMail()">aquí</a> </p>
        <p>Cuando hayas validado tu cuenta, ya podrás entrar y descubrir On Sowo. Desde allí, podrás completar tu perfil y así poder aprovechar todas las ventajas de la comunidad y conectar con el resto de onsowers.</p>

        <div class="button-container">
          <!-- <ion-button class="submit-button" type="button" expand="block" fill="solid" shape="round" color="sowohigh" (click)="onNow()">
            COMPLETAR PERFIL
            <br>
            AHORA
          </ion-button>
          <div class="space-between"></div>
          <ion-button class="submit-button invert-colors" type="button" expand="block" fill="solid" shape="round" color="sowohigh" (click)="onLater()">
            COMPLETAR PERFIL
            <br>
            MAS TARDE
          </ion-button> -->
          <ion-button class="submit-button" type="button" expand="block" fill="solid" shape="round" color="sowohigh" (click)="onFinish()">
            Acceder a On Sowo
          </ion-button>
        </div>
      </ng-container>

    </div>

  </div>



</ion-content>

<app-std-footer></app-std-footer>
