// Content

#container {
  // text-align: center;
  // position: absolute;
  // left: 0;
  // right: 0;
  // top: 50%;
  // transform: translateY(-50%);
  max-width: 1200px;
  margin: 0 auto 0 auto;
  background-color: #FFFFFF;
}

// ion-content {
//   // --ion-background-color: #C8C8C8;
// }


.img-on-container {
  // align-self: center;
  width: 150px;
  height: auto;
}

ion-img.logo {
  width: 20%;
  margin: 20px auto 0 auto;
}

ion-img.avatar {
  // width: 120px;
  margin: 0 auto 8px auto;
}

.button-container {
  display: flex;
  justify-content: center;
}

ion-button.submit-button {
  flex: 0 0 auto;
  width: 15rem;
  // margin: 20px auto 20px auto;
}

.space-between {
  flex: 0 0 auto;
  width: 3rem;
  min-width: 3rem;
}

.input-container {
  position: relative;
  width: 20rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 40px;
  margin-bottom: 16px;
}

ion-input {
  width: 100%;
  border: 2px solid var(--ion-color-sowohigh);
  border-radius: 40px;
  --padding-top: 4px;
  --padding-bottom: 4px;
  --padding-start: 10px;
  --padding-end: 10px;
  --border-radius: 40px;
  --placeholder-color: var(--ion-color-sowohigh);
  color: var(--ion-color-sowohigh-shade);
  --color: var(--ion-color-sowohigh);
  // opacity: .1;
  text-align: left;
  font-size: 20px;
}

::ng-deep input:-webkit-autofill::first-line {
  font-size: 20px;
  color: var(--ion-color-sowohigh);
  color: var(--ion-color-sowohigh-tint);
  // opacity: 0.1;
}

ion-input.has-error {
  border: 2px solid red;
}

.error-container {
  text-align: right;
  color: red;
  font-size: smaller;
}

.error-container p {
  margin-top: 0;
  margin-bottom: 2px;
}

.spinner-container {
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


mat-spinner {
  margin: 0 auto;
}

#container h6 {
  margin-top: 0;
  text-align: left;
}

ion-row {
  align-items: flex-end;
}

ion-col.col-start {
  align-self: flex-start;
  height: 100%;
}

.photo-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4px;
}

.photo-text {
  display: inline-block;
  margin: 0 8px 0 0;
}

.header-info {
  text-align: center;
}

.heading-title {
  margin-top: 32px;
  margin-bottom: 0;
}

.heading-first-paragraph {
  margin-top: 8px;
}

.form-field {
	width: 100%;
}

input.mat-input-element {
  height: 20px;
}

// #container mat-form-field .mat-form-field-infix {
//   border-top-width: 1px;
// }

::ng-deep .mat-form-field-flex > .mat-form-field-infix {
  border-top-width: 1px !important;
}

// ::ng-deep .credentials-field .mat-form-field-flex {
//   height: 48px;
// }

mat-icon {
  cursor: pointer;
}


.slide-index {
  width: 40rem;
}

ion-slide {
  display: block;
}

.badge-container {
  display: inline-block;
  margin-right: 8px;
}

ion-badge {
  font-weight: 400;

  // margin-top: 16px;
  vertical-align: middle;
}

.remove-x {
  cursor: pointer;
  margin-left: 4px;
}

.text-badge {
  display: inline-block;
  margin: 4px 8px 4px 0;
  color: grey;
}

ion-icon {
  cursor: pointer;
}

.select-container {
  width: 43px;
  display: inline-block;
}

ion-select {
  width: 100%;
  height: 30px;
  border: 2px solid var(--ion-color-sowohigh);
  border-radius: 20px;
  color: white;
  background-color: var(--ion-color-sowohigh);
}


.area-container {
  margin-top: 4px;
  padding-top: 4px;
  margin-left: 16px;
  text-align: left;
  overflow: hidden;
}

.area-container p {
  margin-top: 0;
}

.areas-row {
  // margin: 0 16px;
}

.checkbox-area {
  margin-right: 16px;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: var(--ion-color-sowohigh);
}

::ng-deep .tooltip-text {
  background-color: var(--ion-color-sowo);
  font-size: 16px;
}

.color-sowo {
  color: var(--ion-color-sowohigh);
}

ion-button.shade::part(native) {
  background-color: #CACACA;
}


// When side menu hides
@media only screen and (max-width: 990px) {


}

// Mobile size
@media only screen and (max-width: 576px) {

  .login-container {
    width: 90%;
  }

  ion-button.submit-button {
    width: 9rem;
  }

  .space-between {
    width: 2rem;
    min-width: 2rem;
  }

  ion-footer {
    display: none;
  }

}

// Small Mobile size
@media only screen and (max-width: 360px) {

  ion-button.submit-button {
    width: 8rem;
  }

  .space-between {
    width: 1rem;
    min-width: 1rem;
  }

}
