<!-- <ion-header class="ion-no-border" [translucent]="true"> -->
<ion-header *ngIf="user" class="ion-no-border top-header" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button text="" defaultHref="/profile"></ion-back-button>
    </ion-buttons>
    <!-- <ion-title>HOLA {{ user.displayName ? user.displayName : user.email }}</ion-title> -->
    <ion-buttons slot="end">
      <!-- <ion-button>
        <ion-icon class="toolbar-icon" name="chatbubbles-outline"></ion-icon>
      </ion-button> -->
      <!-- <ion-button>
        <ion-icon class="toolbar-icon" name="chatbox-ellipses-outline"></ion-icon>
      </ion-button> -->
      <ion-button (click)="OnDiscord()">
        <ion-icon class="toolbar-icon discord-icon" name="logo-discord"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="main-content ion-padding" [fullscreen]="false">
  <!-- <ion-header collapse="condense">
    When on iOS, this second header will be displayed, and the first header will only show when the users start to scroll. This follows the iOS design guidelines.
  </ion-header> -->
  <div id="container">
    <!-- <ion-row style="justify-content: center;">
      <div class="img-on-container">
        <ion-img src="../../../assets/img/on.png"></ion-img>

      </div>
    </ion-row> -->
    <ion-row style="justify-content: center;">
      <h2>COMPLETA TU PERFIL EN 4 PASOS</h2>
    </ion-row>

    <ion-slides #signupSlider (ionSlideDidChange)="onSlideChange($event)">

      <!-- First Slide -->
      <ion-slide>



        <!-- <ion-row> -->
          <!-- r1 -->
          <!-- <ion-col size="12"> -->
            <!-- r1c1 -->

            <ion-row style="justify-content: center;">
              <!-- r2 -->
              <ion-img class="slide-index" src="../../../assets/img/slide-index-1.png"></ion-img>
            </ion-row> <!-- r2 -->

            <form [formGroup]="signupForm1">

              <ion-row style="margin-top: 10px;">
                <!-- r2 -->
                <ion-col size="12">
                  <h3>PRIMERO UN POQUITO DE INFORMACIÓN BÁSICA:</h3>
                </ion-col>
              </ion-row> <!-- r2 -->

              <ion-row>
                <!-- r2 -->
                <ion-col size="12" size-sm="4" size-md="3" size-lg="2" class="col-start">
                  <!-- r2c1 -->
                  <!-- Photo -->
                  <div class="photo-header">
                    <h6 class="photo-text ion-align-self-start">FOTO DE PERFIL</h6>
                    <!-- <ion-button class="upload-button ion-align-self-end" color="sowohigh" size="small"
                      (click)="imgInput.click()">Elige foto</ion-button> -->
                    <input hidden (change)="selectPhoto($event)" #imgInput type="file" id="img" accept="image/*">
                    <!-- <div class="upload-progress" *ngIf="(uploadPercent$ | async) as percentage">
                    <mat-progress-bar class="progress-bar" mode="determinate" [value]="percentage"></mat-progress-bar>
                    </div> -->
                  </div>
                  <ion-img class="avatar" [src]="photoUrl ? photoUrl : defaultValue"></ion-img>
                  <ion-button class="upload-button ion-align-self-end" color="sowohigh" size="small"
                  (click)="imgInput.click()">Elige foto</ion-button>
                </ion-col> <!-- r2c1 -->
                <ion-col size="12" size-sm="8" size-md="9" size-lg="10" class="col-start">
                  <!-- r2c1 -->
                  <ion-row>
                    <!-- r3 -->
                    <ion-col size="12" size-sm="6">
                      <!-- r3c1 -->
                      <!-- firstName -->
                      <h6>¿CÓMO TE LLAMAS?</h6>
                      <mat-form-field class="form-field" appearance="fill">
                        <!-- <mat-label>Nombre *</mat-label> -->
                        <input matInput placeholder="Nombre *" formControlName="firstName"
                          [errorStateMatcher]="matcher">
                        <mat-error *ngIf="signupForm1.controls.firstName?.errors">
                          <span *ngIf="isSubmitted && signupForm1.controls.firstName.errors?.required">Este campo es
                            obligatorio.</span>
                        </mat-error>
                      </mat-form-field>
                    </ion-col> <!-- r3c1 -->
                    <ion-col size="12" size-sm="6">
                      <!-- r3c1 -->
                      <!-- familyName -->
                      <h6>¿Y TUS APELLIDOS?</h6>
                      <mat-form-field class="form-field" appearance="fill">
                        <!-- <mat-label>Apellidos *</mat-label> -->
                        <input matInput placeholder="Apellidos *" formControlName="familyName"
                          [errorStateMatcher]="matcher">
                        <mat-error *ngIf="signupForm1.controls.familyName?.errors">
                          <span *ngIf="isSubmitted && signupForm1.controls.familyName.errors?.required">Este campo es
                            obligatorio.</span>
                        </mat-error>
                      </mat-form-field>
                    </ion-col> <!-- r3c1 -->
                  </ion-row> <!-- r3 -->

                  <ion-row>
                    <!-- r3 -->
                    <ion-col size="12" size-sm="6">
                      <!-- r3c1 -->
                      <!-- firstName -->
                      <h6>¿CÓMO SE LLAMA TU EMPRESA O A QUE TE DEDICAS?</h6>
                      <mat-form-field class="form-field" appearance="fill">
                        <!-- <mat-label>Nombre *</mat-label> -->
                        <!-- <input matInput placeholder="Empresa/Dedicación *" formControlName="jobDescription"> -->
                        <input matInput placeholder="Empresa/Dedicación *" formControlName="jobDescription"
                          [errorStateMatcher]="matcher">
                        <mat-hint *ngIf="signupForm1.controls.jobDescription?.value.length > 0">
                          <span>{{ signupForm1.controls.jobDescription?.value.length }} de {{ maxLengthName }}</span>
                        </mat-hint>

                        <mat-error *ngIf="signupForm1.controls.jobDescription?.errors">
                          <span *ngIf="isSubmitted && signupForm1.controls.jobDescription.errors?.required">Este campo
                            es obligatorio.</span>
                          <span *ngIf="signupForm1.controls.jobDescription.errors?.maxlength">Máximo {{ maxLengthName }}
                            caracteres.</span>
                        </mat-error>
                      </mat-form-field>
                    </ion-col> <!-- r3c1 -->
                    <ion-col size="12" size-sm="6">
                      <!-- r3c1 -->
                      <!-- familyName -->
                      <h6>DESCRIBE TU PROFESIÓN O EMPRESA EN UNA LÍNEA</h6>
                      <mat-form-field class="form-field" appearance="fill">
                        <!-- <mat-label>Apellidos *</mat-label> -->
                        <input matInput placeholder="Describe tu profesión/empresa *"
                          formControlName="jobAdditionalDesc" [errorStateMatcher]="matcher">
                          <mat-hint *ngIf="signupForm1.controls.jobAdditionalDesc?.value.length > 0">
                            <span>{{ signupForm1.controls.jobAdditionalDesc?.value.length }} de {{ maxLengthDesc }}</span>
                          </mat-hint>
                        <mat-error *ngIf="signupForm1.controls.jobAdditionalDesc?.errors">
                          <span *ngIf="isSubmitted && signupForm1.controls.jobAdditionalDesc.errors?.required">Este
                            campo es obligatorio.</span>
                          <span *ngIf="signupForm1.controls.jobAdditionalDesc.errors?.maxlength">Máximo
                            {{ maxLengthDesc }} caracteres.</span>
                        </mat-error>
                      </mat-form-field>
                    </ion-col> <!-- r3c1 -->
                  </ion-row> <!-- r3 -->

                  <ion-row>
                    <!-- r3 -->
                    <ion-col size="12">
                      <!-- r3c1 -->
                      <h6>¿DÓNDE VIVES?</h6>
                    </ion-col> <!-- r3c1 -->
                  </ion-row> <!-- r3 -->

                  <ion-row>
                    <!-- r3 -->
                    <ion-col size="12" size-sm="4">
                      <!-- r3c1 -->
                      <!-- City -->
                      <mat-form-field class="form-field" appearance="fill">
                        <input matInput type="text" placeholder="Ciudad *" formControlName="city"
                          [errorStateMatcher]="matcher">
                        <mat-error *ngIf="signupForm1.controls.city?.errors">
                          <span *ngIf="isSubmitted && signupForm1.controls.city.errors?.required">Este campo es
                            obligatorio.</span>
                        </mat-error>
                      </mat-form-field>
                    </ion-col> <!-- r3c1 -->
                    <ion-col size="12" size-sm="4">
                      <!-- r3c1 -->
                      <!-- State -->
                      <mat-form-field class="form-field" appearance="fill">
                        <input matInput type="text" placeholder="Provincia/Estado *" formControlName="state"
                          [errorStateMatcher]="matcher">
                        <mat-error *ngIf="signupForm1.controls.state?.errors">
                          <span *ngIf="isSubmitted && signupForm1.controls.state.errors?.required">Este campo es
                            obligatorio.</span>
                        </mat-error>
                      </mat-form-field>
                    </ion-col>
                    <ion-col size="12" size-sm="4">
                      <!-- r3c1 -->
                      <!-- Country -->
                      <mat-form-field class="form-field" appearance="fill">
                        <input matInput type="text" placeholder="País *" formControlName="country"
                          [errorStateMatcher]="matcher">
                        <mat-error *ngIf="signupForm1.controls.country?.errors">
                          <span *ngIf="isSubmitted && signupForm1.controls.country.errors?.required">Este campo es
                            obligatorio.</span>
                        </mat-error>
                      </mat-form-field>
                    </ion-col> <!-- r3c1 -->
                  </ion-row> <!-- r3 -->

                </ion-col> <!-- r2c1 -->
              </ion-row> <!-- r2 -->

              <ion-row>
                <!-- r2 -->
                <ion-col size="12" size-sm="4">
                  <!-- r2c1 -->
                  <!-- Instagram -->
                  <h6>INSTAGRAM <span class="color-sowo">[PREMIUM]</span></h6>
                  <mat-form-field class="form-field" appearance="fill">
                    <input matInput placeholder="URL de Instagram (www.instagram.com/???)" formControlName="instagram"
                      [errorStateMatcher]="matcher">
                    <mat-error *ngIf="signupForm1.controls.instagram?.errors">
                      <!-- <span *ngIf="isSubmitted && signupForm1.controls.instagram.errors?.required">Este campo es obligatorio.</span> -->
                      <span *ngIf="isSubmitted && signupForm1.controls.instagram.errors?.pattern">URL no valida.</span>
                    </mat-error>
                  </mat-form-field>
                </ion-col> <!-- r2c1 -->
                <ion-col size="12" size-sm="4">
                  <!-- r2c1 -->
                  <!-- Linkedin -->
                  <h6>LINKEDIN <span class="color-sowo">[PREMIUM]</span></h6>
                  <mat-form-field class="form-field" appearance="fill">
                    <input matInput placeholder="URL de linkedin (www.linkedin.com/???)" formControlName="linkedin" [errorStateMatcher]="matcher">
                    <mat-error *ngIf="signupForm1.controls.linkedin?.errors">
                      <!-- <span *ngIf="isSubmitted && signupForm1.controls.linkedin.errors?.required">Este campo es obligatorio.</span> -->
                      <span *ngIf="isSubmitted && signupForm1.controls.linkedin.errors?.pattern">URL no valida.</span>
                    </mat-error>
                  </mat-form-field>
                </ion-col> <!-- r2c1 -->
                <ion-col size="12" size-sm="4">
                  <!-- r2c1 -->
                  <!-- Web -->
                  <h6>¿TIENES WEB? <span class="color-sowo">[PREMIUM]</span></h6>
                  <mat-form-field class="form-field" appearance="fill">
                    <input matInput placeholder="URL de tu web" formControlName="web" [errorStateMatcher]="matcher">
                    <mat-error *ngIf="signupForm1.controls.web?.errors">
                      <!-- <span *ngIf="isSubmitted && signupForm1.controls.web.errors?.required">Este campo es obligatorio.</span> -->
                      <span *ngIf="isSubmitted && signupForm1.controls.web.errors?.pattern">URL no valida.</span>
                    </mat-error>
                  </mat-form-field>
                </ion-col> <!-- r2c1 -->
              </ion-row> <!-- r2 -->

              <ion-row style="margin-top: 10px;">
                <!-- r2 -->
                <ion-col size="12">
                  <!-- r2c1 -->
                  <div class="button-container">
                    <ion-button class="submit-button shade" type="button" expand="block" fill="solid" shape="round"
                      color="sowohigh" (click)="onCancel()">
                      CANCELAR
                    </ion-button>
                    <div class="space-between"></div>
                    <ion-button class="submit-button" type="button" expand="block" fill="solid" shape="round"
                      color="sowohigh" (click)="goToNext()">
                      SIGUIENTE
                    </ion-button>
                  </div>
                </ion-col> <!-- r2c1 -->
              </ion-row> <!-- r2 -->

            </form>

          <!-- </ion-col>  -->
          <!-- r1c1 -->
        <!-- </ion-row>  -->
        <!-- r1 -->


      </ion-slide>


      <!-- Second Slide -->
      <ion-slide>

        <!-- <ion-row> -->
          <!-- r1 -->
          <!-- <ion-col size="12"> -->
            <!-- r1c1 -->

            <form [formGroup]="signupForm2">

              <ion-row style="justify-content: center;">
                <!-- r2 -->
                <ion-img class="slide-index" src="../../../assets/img/slide-index-2.png"></ion-img>
              </ion-row> <!-- r2 -->

              <ion-row>
                <!-- r2 -->
                <ion-col size="12">
                  <!-- r2c1 -->
                  <h3 class="heading-title">ÁREAS DE CONOCIMIENTO:</h3>
                  <p class="heading-first-paragraph">Nos sirven para poder encontrar a los onsowers según sus
                    profesiones. Con la versión Premium puedes escoger hasta 4 opciones. Si creéis que falta alguna etiqueta interesante, escribirnos <a
                      href="mailto:hola@sowo.es" target="_blank">aquí</a> proponiéndola y lo valoraremos.</p>
                </ion-col> <!-- r2c1 -->
              </ion-row> <!-- r2 -->

              <ion-row class="areas-row">
                <!-- r2 -->
                <ion-col *ngFor="let area of checkAreas, let i = index" size="12" size-sm="6" size-lg="4" size-xl="3">
                  <!-- r2c1 -->
                  <!-- Areas -->
                  <div class="area-container">
                    <mat-checkbox class="checkbox-area"
                      (mouseenter)="tooltip.show()" (mouseleave)="tooltip.hide()"
                      (change)="onChange($event, i)"
                      (checked)="checkAreas[i].checked" #areaCheckbox>
                      <span
                      #tooltip="matTooltip"
                      matTooltip="{{ area.name }}"
                      [matTooltipShowDelay]="1000"
                      matTooltipClass="tooltip-text"
                      matTooltipPosition="below"></span>
                      {{ area.name }}
                    </mat-checkbox>
                  </div>
                </ion-col> <!-- r2c1 -->
              </ion-row> <!-- r2 -->

              <ion-row style="margin-top: 10px;">
                <!-- r2 -->
                <ion-col size="12">
                  <!-- r2c1 -->
                  <div class="button-container">
                    <ion-button class="submit-button shade" type="button" expand="block" fill="solid" shape="round"
                      color="sowohigh" (click)="goToPrev()">
                      ANTERIOR
                    </ion-button>
                    <div class="space-between"></div>
                    <ion-button class="submit-button" type="button" expand="block" fill="solid" shape="round"
                      color="sowohigh" (click)="goToNext()">
                      SIGUIENTE
                    </ion-button>
                  </div>
                </ion-col> <!-- r2c1 -->
              </ion-row> <!-- r2 -->

            </form>

          <!-- </ion-col>  -->
          <!-- r1c1 -->
        <!-- </ion-row>  -->
        <!-- r1 -->

      </ion-slide>


      <!-- Third Slide -->
      <ion-slide>

        <!-- <ion-row> -->
          <!-- r1 -->
          <!-- <ion-col size="12"> -->
            <!-- r1c1 -->

            <form [formGroup]="signupForm3">

              <ion-row style="justify-content: center;">
                <!-- r2 -->
                <ion-img class="slide-index" src="../../../assets/img/slide-index-3.png"></ion-img>
              </ion-row> <!-- r2 -->

              <ion-row>
                <!-- r2 -->
                <ion-col size="12">
                  <!-- r2c1 -->
                  <h3 class="heading-title">CUÉNTANOS ALGUNAS CURIOSIDADES SOBRE TI:</h3>
                  <p class="heading-first-paragraph">Rutinas, manías, aficiones... nos encanta saber pequeños detalles de cada persona para conocernos un poco más entre todos.</p>
                </ion-col> <!-- r2c1 -->
              </ion-row> <!-- r2 -->



              <ion-row>
                <!-- r2 -->
                <ng-container formArrayName="curiosities">
                  <ion-col *ngFor="let curiosity of curiosities.controls; index as i" size="12" size-sm="6">
                    <!-- r2c1 -->
                    <ng-container [formGroupName]="i">
                    <h6>{{ curiosity['controls'].title.value.toUpperCase() }}</h6>
                    <mat-form-field class="form-field"  appearance="fill">
                      <input matInput type="text" placeholder="{{curiosity['controls'].title.value}} *" formControlName="description" [errorStateMatcher]="matcher">
                      <mat-hint *ngIf="curiosity['controls'].description?.value.length > 0">
                        <span>{{ curiosity['controls'].description?.value.length }} de {{ maxLengthDesc }}</span>
                      </mat-hint>
                      <mat-error *ngIf="curiosity['controls'].description?.errors">
                        <span *ngIf="isSubmitted && curiosity['controls'].description.errors?.required">Este campo es obligatorio.</span>
                        <span *ngIf="curiosity['controls'].description.errors?.maxlength">Máximo {{ maxLengthDesc }} caracteres.</span>"
                      </mat-error>
                    </mat-form-field>
                  </ng-container>
                  </ion-col> <!-- r2c1 -->
                </ng-container>

              </ion-row> <!-- r2 -->




              <ion-row style="margin-top: 10px;">
                <!-- r2 -->
                <ion-col size="12">
                  <!-- r2c1 -->
                  <div class="button-container">
                    <ion-button class="submit-button shade" type="button" expand="block" fill="solid" shape="round"
                      color="sowohigh" (click)="goToPrev()">
                      ANTERIOR
                    </ion-button>
                    <div class="space-between"></div>
                    <ion-button class="submit-button" type="button" expand="block" fill="solid" shape="round"
                      color="sowohigh" (click)="goToNext()">
                      SIGUIENTE
                    </ion-button>
                  </div>
                </ion-col> <!-- r2c1 -->
              </ion-row> <!-- r2 -->

            </form>

          <!-- </ion-col>  -->
          <!-- r1c1 -->
        <!-- </ion-row>  -->
        <!-- r1 -->

      </ion-slide>

      <!-- Forth Slide -->
      <ion-slide>

        <!-- <ion-row> -->
          <!-- r1 -->
          <!-- <ion-col size="12"> -->
            <!-- r1c1 -->

            <form [formGroup]="signupForm4" (ngSubmit)="onComplete()">

              <ion-row style="justify-content: center;">
                <!-- r2 -->
                <ion-img class="slide-index" src="../../../assets/img/slide-index-4.png"></ion-img>
              </ion-row> <!-- r2 -->

              <ion-row>
                <!-- r2 -->
                <ion-col size="12">
                  <!-- r2c1 -->
                  <h3 class="heading-title">Y AHORA, HABLANOS UN POQUITO SOBRE TI Y TUS PROYECTOS:</h3>
                  <p class="heading-first-paragraph">Este es el lugar para presentarte y presentarnos tus proyectos. ¡No te cortes! Puedes hablarnos de lo que quieras.</p>
                </ion-col> <!-- r2c1 -->
              </ion-row> <!-- r2 -->



              <ion-row>
                <!-- r2 -->
                <ion-col size="12">
                  <!-- r2c1 -->
                  <mat-form-field class="form-field"  appearance="fill">
                    <textarea rows="8" matInput placeholder="Informació sobre ti y tus proyectos *" formControlName="info" [errorStateMatcher]="matcher"></textarea>
                    <mat-error *ngIf="signupForm4.controls.info?.errors">
                      <span *ngIf="isSubmitted && signupForm4.controls.info.errors?.required">Este campo es obligatorio.</span>
                    </mat-error>
                  </mat-form-field>
                </ion-col>
              </ion-row><!-- r2 -->





              <ion-row style="margin-top: 10px;">
                <!-- r2 -->
                <ion-col size="12">
                  <!-- r2c1 -->
                  <div class="button-container">
                    <ion-button class="submit-button shade" type="button" expand="block" fill="solid" shape="round"
                      color="sowohigh" (click)="goToPrev()">
                      ANTERIOR
                    </ion-button>
                    <div class="space-between"></div>
                    <ion-button class="submit-button" type="submit" expand="block" fill="solid" shape="round"
                      color="sowohigh" (click)="goToNext()">
                      COMPLETAR
                    </ion-button>
                  </div>
                </ion-col> <!-- r2c1 -->
              </ion-row> <!-- r2 -->

            </form>

          <!-- </ion-col>  -->
          <!-- r1c1 -->
        <!-- </ion-row>  -->
        <!-- r1 -->

      </ion-slide>

    </ion-slides>


  </div>

</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-title>TRABAJA DESDE CUALQUIER PARTE DEL MUNDO PERO NO LO HAGAS SOLO</ion-title>
  </ion-toolbar>
</ion-footer>
