<!-- <ion-header class="ion-no-border" [translucent]="true"> -->
  <ion-header *ngIf="(user$ | async) as user" class="ion-no-border" [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button text="" defaultHref="/profile"></ion-back-button>
      </ion-buttons>
      <!-- <ion-title>HOLA {{ user.displayName ? user.displayName : user.email }}</ion-title> -->
      <ion-buttons slot="end">
        <!-- <ion-button>
          <ion-icon class="toolbar-icon" name="chatbubbles-outline"></ion-icon>
        </ion-button> -->
        <ion-button>
          <ion-icon class="toolbar-icon" name="chatbox-ellipses-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding" [fullscreen]="false">
    <!-- <ion-header collapse="condense">
      When on iOS, this second header will be displayed, and the first header will only show when the users start to scroll. This follows the iOS design guidelines.
    </ion-header> -->

    <div id="container">
      <ion-row style="justify-content: center;">
        <!-- <ion-col size="12" size-lg="2" offset-lg="5"> -->
          <div class="img-on-container">
            <ion-img src="../../../assets/img/on.png"></ion-img>

          </div>

        <!-- </ion-col> -->
      </ion-row>
      <ion-row>
        <!-- <ion-col size="12" size-lg="8" offset-lg="2" class="field-col"> -->
        <ion-col size="12"  size-lg="10" offset-lg="1" class="field-col">


          <div class="header-info">
            <h4 class="ion-padding-bottom">REGISTRO NUEVO USUARIO</h4>
            <p>¡Bienvenido a la comunidad!</p>
            <p class="no-margin">Para formar parte de On Sowo y poder disfrutar de todas las ventajas y de la comunidad, tienes que completar todos los pasos.</p>
            <p class="no-margin">Es muy importante completar bien tu perfil para formar parte de la comunidad. No aceptamos a nadie que no tenga el perfil completo.</p>
            <p>¿Por qué? Porque el valor más importante de On Sowo es la comunidad y para eso, tiene que haber personas detrás de los perfiles.</p>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12"  size-lg="10" offset-lg="1" class="field-col">

          <form [formGroup]="signupForm" (ngSubmit)="onSignup()">
            <ion-row>
              <ion-col size="12">
                <h3>PRIMERO UN POQUITO DE INFORMACIÓN BÁSICA:</h3>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12" size-sm="4"  size-md="3" size-lg="2" class="col-start">
                <!-- Photo -->
                <div class="photo-header">
                  <h6 class="photo-text ion-align-self-start">FOTO DE PERFIL</h6>
                  <ion-button class="upload-button ion-align-self-end" color="sowohigh" size="small">Subir archivo</ion-button>
                </div>
                <!-- <ion-img style="object-fit: cover; height: 300px; display: initial; object-position: 50% 50%;" [src]="defaultValue"></ion-img> -->
                <ion-img [src]="defaultValue"></ion-img>
              </ion-col>

              <ion-col size="12" size-sm="8"  size-md="9" size-lg="10" class="col-start">

                <ion-row>
                  <ion-col size="12" size-sm="6">
                    <!-- email -->
                    <H6>¿CUÁL ES TU CORREO ELECTRÓNICO?</H6>
                    <mat-form-field class="form-field credentials-field"  appearance="fill">
                      <!-- <mat-label>Correo electrónico *</mat-label> -->
                      <input #inputEmail matInput placeholder="Correo electrónico *" formControlName="email">
                      <mat-icon matSuffix style="visibility:hidden; width: 0;"></mat-icon>
                      <mat-error *ngIf="isSubmitted && signupForm.controls.email.invalid">
                        <span *ngIf="isSubmitted && signupForm.controls.email.errors.required">Este campo es obligatorio.</span>
                        <span *ngIf="isSubmitted && signupForm.controls.email.errors.email">Formato de correo electrónico no valido.</span>
                      </mat-error>

                      <!-- <mat-error *ngIf="(signupForm.controls.email.statusChanges | async)!=='valid'">Correo electrónico no valido.
                      </mat-error> -->
                    </mat-form-field>
                  </ion-col>
                  <ion-col size="12" size-sm="6">
                    <!-- password -->
                    <H6>ELIGE UNA CONTRASEÑA</H6>
                    <mat-form-field class="form-field credentials-field" appearance="fill">
                      <!-- <mat-label>Password *</mat-label> -->
                      <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password *" formControlName="password">
                      <mat-icon matSuffix (click)="hide = !hide">{{ hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                      <mat-error *ngIf="isSubmitted && signupForm.controls.password.invalid">
                        <span *ngIf="isSubmitted && signupForm.controls.password.errors.required">Este campo es obligatorio.</span>
                        <span *ngIf="isSubmitted && signupForm.controls.password.errors.pattern">Password invalido. Demasiado corto.</span>
                      </mat-error>
                    </mat-form-field>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col size="12" size-sm="6">
                    <!-- firstName -->
                    <h6>¿CÓMO TE LLAMAS?</h6>
                    <mat-form-field class="form-field"  appearance="fill">
                      <!-- <mat-label>Nombre *</mat-label> -->
                      <input matInput placeholder="Nombre *" formControlName="firstName">
                      <mat-error *ngIf="isSubmitted && signupForm.controls.firstName.invalid">
                        <span *ngIf="isSubmitted && signupForm.controls.firstName.errors.required">Este campo es obligatorio.</span>
                      </mat-error>
                    </mat-form-field>
                  </ion-col>
                  <ion-col size="12" size-sm="6">
                    <!-- familyName -->
                    <h6>¿Y TUS APELLIDOS?</h6>
                    <mat-form-field class="form-field"  appearance="fill">
                      <!-- <mat-label>Apellidos *</mat-label> -->
                      <input matInput placeholder="Apellidos *" formControlName="familyName">
                      <mat-error *ngIf="isSubmitted && signupForm.controls.familyName.invalid">
                        <span *ngIf="isSubmitted && signupForm.controls.familyName.errors.required">Este campo es obligatorio.</span>
                      </mat-error>
                    </mat-form-field>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col size="12" size-sm="6">
                    <!-- firstName -->
                    <h6>¿CÓMO SE LLAMA TU EMPRESA O A QUE TE DEDICAS?</h6>
                    <mat-form-field class="form-field"  appearance="fill">
                      <!-- <mat-label>Nombre *</mat-label> -->
                      <input matInput placeholder="Empresa/Dedicación *" formControlName="jobDescription">
                      <mat-error *ngIf="isSubmitted && signupForm.controls.jobDescription.invalid">
                        <span *ngIf="isSubmitted && signupForm.controls.jobDescription.errors.required">Este campo es obligatorio.</span>
                      </mat-error>
                    </mat-form-field>
                  </ion-col>
                  <ion-col size="12" size-sm="6">
                    <!-- familyName -->
                    <h6>DESCRIBE TU PROFESIÓN O EMPRESA EN UNA LÍNEA</h6>
                    <mat-form-field class="form-field"  appearance="fill">
                      <!-- <mat-label>Apellidos *</mat-label> -->
                      <input matInput placeholder="Describe to profesión/empresa *" formControlName="jobAdditionalDesc">
                      <mat-error *ngIf="isSubmitted && signupForm.controls.jobAdditionalDesc.invalid">
                        <span *ngIf="isSubmitted && signupForm.controls.jobAdditionalDesc.errors.required">Este campo es obligatorio.</span>
                      </mat-error>
                    </mat-form-field>
                  </ion-col>
                </ion-row>


              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="12">
                <h6>¿DÓNDE VIVES?</h6>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="12" size-sm="4">
                <!-- City -->
                <mat-form-field class="form-field"  appearance="fill">
                  <input matInput type="text" placeholder="Ciudad *" formControlName="city">
                  <mat-error *ngIf="isSubmitted && signupForm.controls.city.invalid">
                    <span *ngIf="isSubmitted && signupForm.controls.city.errors.required">Este campo es obligatorio.</span>
                  </mat-error>
                </mat-form-field>
              </ion-col>
              <ion-col size="12" size-sm="4">
                <!-- State -->
                <mat-form-field class="form-field"  appearance="fill">
                  <input matInput placeholder="Provincia/Estado *" formControlName="state">
                  <mat-error *ngIf="isSubmitted && signupForm.controls.state.invalid">
                    <span *ngIf="isSubmitted && signupForm.controls.state.errors.required">Este campo es obligatorio.</span>
                  </mat-error>
                </mat-form-field>
              </ion-col>
              <ion-col size="12" size-sm="4">
                <!-- Country -->
                <mat-form-field class="form-field"  appearance="fill">
                  <input matInput placeholder="País *" formControlName="country">
                  <mat-error *ngIf="isSubmitted && signupForm.controls.country.invalid">
                    <span *ngIf="isSubmitted && signupForm.controls.country.errors.required">Este campo es obligatorio.</span>
                  </mat-error>
                </mat-form-field>
              </ion-col>

            </ion-row>

            <ion-row>
              <ion-col size="12" size-sm="4">
                <!-- Instagram -->
                <h6>INSTAGRAM <span class="color-sowo">[PREMIUM]</span></h6>
                <mat-form-field class="form-field"  appearance="fill">
                  <input matInput placeholder="Instagram URL" formControlName="instagram">
                  <mat-error *ngIf="isSubmitted && signupForm.controls.instagram.invalid">
                    <!-- <span *ngIf="isSubmitted && signupForm.controls.instagram.errors.required">Este campo es obligatorio.</span> -->
                    <span *ngIf="isSubmitted && signupForm.controls.instagram.errors.pattern">URL no valida.</span>
                  </mat-error>
                </mat-form-field>
              </ion-col>
              <ion-col size="12" size-sm="4">
                <!-- Linkedin -->
                <h6>LINKEDIN <span class="color-sowo">[PREMIUM]</span></h6>
                <mat-form-field class="form-field"  appearance="fill">
                  <input matInput placeholder="Linkedin URL" formControlName="linkedin">
                  <mat-error *ngIf="isSubmitted && signupForm.controls.linkedin.invalid">
                    <!-- <span *ngIf="isSubmitted && signupForm.controls.linkedin.errors.required">Este campo es obligatorio.</span> -->
                    <span *ngIf="isSubmitted && signupForm.controls.linkedin.errors.pattern">URL no valida.</span>
                  </mat-error>
                </mat-form-field>
              </ion-col>
              <ion-col size="12" size-sm="4">
                <!-- Web -->
                <h6>¿TIENES WEB? <span class="color-sowo">[PREMIUM]</span></h6>
                <mat-form-field class="form-field"  appearance="fill">
                  <input matInput placeholder="Web URL" formControlName="web">
                  <mat-error *ngIf="isSubmitted && signupForm.controls.web.invalid">
                    <!-- <span *ngIf="isSubmitted && signupForm.controls.web.errors.required">Este campo es obligatorio.</span> -->
                    <span *ngIf="isSubmitted && signupForm.controls.web.errors.pattern">URL no valida.</span>
                  </mat-error>
                </mat-form-field>
              </ion-col>
            </ion-row>



            <ion-row>
              <ion-col size="12">
                <h3 class="heading-title">ÁREAS DE CONOCIMIENTO:</h3>
                <p class="heading-first-paragraph">Nos sirven para poder encontrar a los onsowers según sus profesiones. Si creéis que falta alguna etiqueta interesante, escribirnos <a href="mailto:hola@sowo.es" target="_blank">aquí</a> proponiéndola y lo valoraremos.</p>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col *ngFor="let area of checkAreas, let i = index" size="12" size-sm="6" size-lg="3">
                <!-- Areas -->
                <div class="area-container">
                    <mat-checkbox
                      class="checkbox-area"
                      (change)="onChange($event, i)"
                      [(checked)]="checkAreas[i].checked"
                      #areaCheckbox>
                      {{ area.name }}
                    </mat-checkbox>

                  <!-- <p class="text-badge" *ngIf="areas ? areas.length == 0 : true">Pulsa el boton para añadir areas de responsabilidad </p>
                  <ng-container *ngFor="let badge of areas">
                    <div class="badge-container">
                      <ion-badge  color="sowohigh">{{ badge }}</ion-badge><a class="remove-x" (click)="onRemoveArea(badge)">x</a>
                      <ion-icon name="add-circle-outline" size="large" color="sowohigh" (click)="select.open()"></ion-icon>
                    </div>
                  </ng-container>
                  <div class="select-container">
                    <ion-select
                      interface="popover"
                      selectedText="+"
                      (ionChange)="onAddArea($event)">
                        <ion-select-option *ngFor="let area of allAreas" [value]="area">{{area}}</ion-select-option>
                    </ion-select>
                  </div> -->
                </div>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="12">
                <h3 class="heading-title">CUÉNTANOS ALGUNAS CURIOSIDADES SOBRE TI:</h3>
                <p class="heading-first-paragraph">Rutinas, manías, aficiones... nos encanta saber pequeños detalles de cada persona para conocernos un poco más entre todos.</p>
              </ion-col>
            </ion-row>

            <ion-row>

              <ng-container formArrayName="curiosities">
                <ion-col *ngFor="let curiosity of curiosities.controls; index as i" size="12" size-sm="4">
                  <ng-container [formGroupName]="i">
                  <h6>{{ curiosity['controls'].title.value.toUpperCase() }}</h6>
                  <mat-form-field class="form-field"  appearance="fill">
                    <input matInput type="text" placeholder="{{curiosity['controls'].title.value}} *" formControlName="description">
                    <mat-error *ngIf="isSubmitted && curiosity['controls'].description.invalid">
                      <span *ngIf="isSubmitted && curiosity['controls'].description.errors.required">Este campo es obligatorio.</span>
                    </mat-error>
                  </mat-form-field>
                </ng-container>
                </ion-col>
              </ng-container>

            </ion-row>

            <ion-row>
              <ion-col size="12">
                <h3 class="heading-title">Y AHORA UN POQUITO SOBRE TI Y TUS PROYECTOS:</h3>
                <p class="heading-first-paragraph">Este es el lugar para presentarte y presentarnos tus proyectos. ¡No te cortes! Puedes hablarnos de lo que quieras</p>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="12">
                <mat-form-field class="form-field"  appearance="fill">
                  <textarea rows="8" matInput placeholder="Informació sobre ti y tus proyectos *" formControlName="info"></textarea>
                  <mat-error *ngIf="isSubmitted && signupForm.controls.info.invalid">
                    <span *ngIf="isSubmitted && signupForm.controls.info.errors.required">Este campo es obligatorio.</span>
                  </mat-error>
                </mat-form-field>
              </ion-col>
            </ion-row>



            <ion-row style="justify-content: flex-end;">
              <!-- <ion-col size="12"></ion-col> -->
              <ion-button class="submit-button ion-margin-top" type="submit" fill="solid" shape="round" color="sowohigh">
                REGISTRAR USUARIO
              </ion-button>
            </ion-row>
            <div class="spinner-container">
              <mat-spinner *ngIf="isLoading"></mat-spinner>
            </div>
        </form>
      </ion-col>
    </ion-row>
  </div>

</ion-content>

            <!-- <div class="input-container">
              <ion-input #inputEmail [ngClass]="{ 'has-error': isSubmitted && signupForm.controls.email.errors }"placeholder="Correo Electrónico" type="email"  formControlName="email"></ion-input>
              <div class="error-container">
                <p *ngIf="isSubmitted && signupForm.get('email').errors?.required">
                  Correo electrónico obligatorio.
                </p>
                <p *ngIf="isSubmitted && signupForm.get('email').errors?.email">
                  Formato no válido.
                </p>
              </div>
            </div>


            <div class="input-container">
              <ion-input [ngClass]="{ 'has-error': isSubmitted && signupForm.controls.password.dirty && signupForm.controls.password.errors }"placeholder="Password" [type]="passwordType"  formControlName="password"></ion-input>
              <ion-icon slot="end" [name]="passwordIcon" class="passwordIcon" (click)="hideShowPassword()"></ion-icon>
              <div class="error-container">
                <p *ngIf="isSubmitted && signupForm.get('password').errors?.required">
                  Password obligatorio.
                </p>
                <p *ngIf="isSubmitted && signupForm.get('password').errors?.pattern">
                  Password invalido. Demasiado corto.
                </p>
              </div>
            </div> -->

