.toolbar-icon {
  font-size: 28px;
  margin-left: 10px;
}

#container h6 {
  margin-top: 0;
}

ion-img {
  // width: 120px;
  margin: 0 auto 20px auto;
}

.img-on-container {
  // align-self: center;
  width: 150px;
  height: auto;
}

.photo-header {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.photo-text {
  display: inline-block;
  margin: 0 8px 0 0;
}

.header-info {
  text-align: center;
}

.heading-title {
  margin-top: 32px;
  margin-bottom: 0;
}

.heading-first-paragraph {
  margin-top: 8px;
}

.form-field {
	width: 100%;
}

input.mat-input-element {
  height: 20px;
}

#container mat-form-field .mat-form-field-infix {
  border-top-width: 1px;
}

::ng-deep .mat-form-field-flex > .mat-form-field-infix {
  border-top-width: 1px !important;
}

mat-icon {
  cursor: pointer;
}

.spinner-container {
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

mat-spinner {
  margin: 0 auto;
}

.area-container {
  margin-top: 4px;
  padding-top: 4px;
}

.badge-container {
  display: inline-block;
  margin-right: 8px;
}

ion-badge {
  font-weight: 400;

  // margin-top: 16px;
  vertical-align: middle;
}

.remove-x {
  cursor: pointer;
  margin-left: 4px;
}

.text-badge {
  display: inline-block;
  margin: 4px 8px 4px 0;
  color: grey;
}

ion-icon {
  cursor: pointer;
}
.select-container {
  width: 43px;
  display: inline-block;
}

ion-select {
  width: 100%;
  height: 30px;
  border: 2px solid var(--ion-color-sowohigh);
  border-radius: 20px;
  color: white;
  background-color: var(--ion-color-sowohigh);
}

.area-container p {
  margin-top: 0;
}

.checkbox-area {
  margin-right: 16px;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: var(--ion-color-sowohigh);
}

.color-sowo {
  color: var(--ion-color-sowohigh);
}

// Mobile size
@media only screen and (max-width: 576px) {



}
