<!-- <ion-header class="ion-no-border" [translucent]="true"> -->

<ion-header *ngIf="(user$ | async) as user" class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/profile"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="false">
  <!-- <ion-header collapse="condense">
    When on iOS, this second header will be displayed, and the first header will only show when the users start to scroll. This follows the iOS design guidelines.
  </ion-header> -->
  <div id="container">
    <div class="login-container">
      <ion-img src="../../../assets/img/on.png"></ion-img>
      <h2>REGISTRO NUEVO ONSOWER</h2>
      <p></p>

      <ion-slides #signupSlider>

        <ion-slide>

          <form [formGroup]="signupForm1">

            <div class="input-container">
              <ion-input #inputName class="text-input" [ngClass]="{ 'has-error': isSubmitted && signupForm1.controls.firstName.errors }" placeholder="Nombre" type="text"  formControlName="firstName"></ion-input>
              <div class="error-container">
              <p *ngIf="isSubmitted && signupForm1.get('firstName').errors?.required">
                El nombre es obligatorio.
              </p>
              </div>
            </div>


            <div class="input-container">
              <ion-input [ngClass]="{ 'has-error': isSubmitted && signupForm1.controls.familyName.errors }" placeholder="Apellidos" type="text"  formControlName="familyName"></ion-input>
              <div class="error-container">
              <p *ngIf="isSubmitted && signupForm1.get('familyName').errors?.required">
                Los apellidos son obligatorios.
              </p>
              </div>
            </div>

            <div class="button-container">
              <ion-button class="submit-button shade" type="button" expand="block" fill="solid" shape="round" color="sowohigh" (click)="onCancel()">
                CANCELAR
              </ion-button>
              <div class="space-between"></div>
              <ion-button class="submit-button" type="button" expand="block" fill="solid" shape="round" color="sowohigh" (click)="goToNext()">
                SIGUIENTE
              </ion-button>
            </div>

          </form>

        </ion-slide>

        <ion-slide>

          <form [formGroup]="signupForm2" (ngSubmit)="onSignup()">

            <div class="input-container">
              <ion-input #inputEmail class="text-input" [ngClass]="{ 'has-error': isSubmitted && signupForm2.controls.email.errors }" placeholder="Correo Electrónico" type="email"  formControlName="email"></ion-input>
              <div class="error-container">
                <p *ngIf="isSubmitted && signupForm2.get('email').errors?.required">
                  Correo electrónico obligatorio.
                </p>
                <p *ngIf="isSubmitted && signupForm2.get('email').errors?.email">
                  Formato no válido.
                </p>
              </div>
            </div>


            <div class="input-container">
              <ion-input [ngClass]="{ 'has-error': isSubmitted && signupForm2.controls.password.dirty && signupForm2.controls.password.errors }"placeholder="Password" [type]="passwordType"  formControlName="password"></ion-input>
              <ion-icon slot="end" [name]="passwordIcon" class="passwordIcon" (click)="hideShowPassword()"></ion-icon>
              <div class="error-container">
                <p *ngIf="isSubmitted && signupForm2.get('password').errors?.required">
                  Password obligatorio.
                </p>
                <p *ngIf="isSubmitted && signupForm2.get('password').errors?.pattern">
                  Password invalido. Demasiado corto.
                </p>
              </div>
            </div>

            <div *ngIf="passwordType == 'password'" class="input-container">
              <ion-input [ngClass]="{ 'has-error': isSubmitted && signupForm2.controls.confirmPassword.errors }" placeholder="Repetir password" type="password"  formControlName="confirmPassword"></ion-input>
              <div class="error-container">
                <!-- <p *ngIf="isSubmitted && signupForm2.get('confirmPassword').errors?.required">
                  Confirmación del password obligatoria.
                </p> -->
                <!-- <p *ngIf="isSubmitted && signupForm2.get('confirmPassword').errors?.pattern">
                  Password invalido. Demasiado corto.
                </p> -->
                <p *ngIf="isSubmitted && signupForm2.get('confirmPassword').errors?.mustMatch">
                  Los passwords no coinciden.
                </p>
              </div>
            </div>

            <div class="input-container">
              <ion-checkbox color="sowohigh" [ngClass]="{ 'has-error': isSubmitted && signupForm2.controls.privacyPolicy.errors }" formControlName="privacyPolicy" checked="true"></ion-checkbox>

              <ion-label>Acepto la <a routerLink="/auth/privacy-policy">política de privacidad.</a></ion-label>
              <div class="error-container">
                <p *ngIf="isSubmitted && signupForm2.get('privacyPolicy').errors?.required">
                  Debes aceptar la politica de privacidad.
                </p>
              </div>

            </div>

            <div class="button-container">
              <ion-button class="submit-button shade" type="button" expand="block" fill="solid" shape="round" color="sowohigh" (click)="goToPrev()">
                ANTERIOR
              </ion-button>
              <div class="space-between"></div>
              <ion-button class="submit-button" type="submit" expand="block" fill="solid" shape="round" color="sowohigh">
                REGISTRAR
              </ion-button>
            </div>
            <div class="spinner-container">
              <mat-spinner *ngIf="isLoading"></mat-spinner>
            </div>
          </form>

        </ion-slide>


      </ion-slides>

    </div>

  </div>



</ion-content>

<app-std-footer></app-std-footer>
