<ion-app>
  <ion-split-pane contentId="main-content" when="lg">
    <ion-menu disabled="true" contentId="main-content" type="overlay">
    <!-- <ion-menu [disabled]="!isLoggedIn" contentId="main-content" type="overlay"> -->

      <!-- <ion-header> -->
        <div class="logo-container">
          <ion-img src="../assets/img/on.png"></ion-img>
        </div>
      <!-- </ion-header> -->

      <ion-content>
        <div class="top-menu">
          <ion-list id="inbox-list" style="border-bottom-width: 0px;">
            <ion-menu-toggle auto-hide="false" *ngFor="let p of appFilteredPages; let i = index">
              <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
                <!-- <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon> -->
                <ion-label class="ion-padding-start item-label">{{ p.title.toUpperCase() }}</ion-label>
                <ion-note>{{ p.subtitle }}</ion-note>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>
        </div>
      </ion-content>
        <div class="bottom-menu">
          <ion-list id="bottom-list">
            <ion-label class="bottom-label">Premium (v1.1.6 Beta)</ion-label>
            <ion-menu-toggle auto-hide="false" *ngFor="let b of bottomFilteredPages; let j = index">
              <ion-item (click)="selectedIndex = j" routerDirection="root" [routerLink]="[b.url]" lines="none" detail="false" routerLinkActive="selected">
                <!-- <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon> -->
                <ion-label class="ion-padding-start item-label">{{ b.title.toUpperCase() }}</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>
        </div>

    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
