<ion-content class="main-content" [fullscreen]="true">

  <div id="container">

    <ion-button class="close-button" (click)="onClose()" fill="clear">
      <ion-icon class="toolbar-icon" slot="icon-only" name="close-outline"></ion-icon>
    </ion-button>
      <div class="login-container">
        <ion-img src="../../../assets/img/on.png"></ion-img>
        <h3>CAMBIAR PASSWORD</h3>
        <p>Te enviaremos un correo para que puedas cambiar tu password</p>
        <form [formGroup]="PasswordResetForm" (ngSubmit)="onChangePassword()">

          <div class="input-container">
            <ion-input #inputEmail [ngClass]="{ 'has-error': isSubmitted && PasswordResetForm.controls.email.errors }"placeholder="Correo Electrónico" type="email"  formControlName="email"></ion-input>
            <div class="error-container" *ngIf="PasswordResetForm.controls.email.dirty">
              <p *ngIf="isSubmitted && PasswordResetForm.get('email').errors?.required">
                Correo electrónico obligatorio.
              </p>
              <p *ngIf="isSubmitted && PasswordResetForm.get('email').errors?.email">
                Formato no válido.
              </p>
            </div>
          </div>

          <ion-button class="submit-button" type="submit" expand="block" fill="solid" shape="round" color="sowohigh">
            CAMBIAR PASSWORD
          </ion-button>

        </form>
      </div>
    </div>
</ion-content>
