.editbanner {
  // text-align: right;
  border: 4px solid var(--ion-color-light);
  padding: 8px;
  position: relative;
}

.toolbar-icon {
  font-size: 28px;
  margin-left: 10px;
}

.editbanner ion-button {
  display: inline-block;
}

.editbanner p {
  color: #3880FF;
}

ion-button {
  position: absolute;
  top: 0px;
  right: 0px;
  display: none;
  z-index: 10;
}
