ion-card {
  border-radius: 20px;
  text-align: center;
  margin: 0;
  cursor: pointer;
  // min-height: 290px;
  min-height: 290px;
}

ion-card-header {
  padding-top: 8px;
  padding-bottom: 8px;

}

.img-container {
  height: 150px;
  background-size: cover;
}

ion-card-title {
  margin-top: 16px;
  // padding-top: 8px;
  // padding-bottom: 0;
}

ion-img {
  height: 150px;
  object-fit: cover;
}

.badge-container {
  margin-top: 16px;
  padding-top: 4px;
}

ion-badge {
  font-weight: 400;
  margin-right: 8px;
}

.description {
  margin-top: 16px;
}

.type {
  margin-top: 32px;
}

.social-icon {
  // color: rgb(0, 128, 255);
  font-size: 24px;
  margin-right: 8px;
}

.location {
  margin-top: 16px;
}

.shade {
  color: rgba(var(--ion-color-sowo-rgb), 0.5);
}

p {
  margin-bottom: 0;
  line-height: 1.2;
}
