<ion-card [routerLink]="['/partnerships', partnership.id]">
  <!-- <div class="img-container" [ngStyle]="{'background-image': 'url(' + defaultValue + ')'}"> -->
  <div class="img-container" [ngStyle]="{'background-image': partnership.photoUrl ?  'url(' + partnership.photoUrl + ')' : 'url(' + defaultValue + ')'}">

  </div>

  <ion-card-content>
    <ion-card-title color="sowohigh">{{ partnership.name.toLocaleUpperCase()}}</ion-card-title>

    <div class="badge-container">
      <ion-badge *ngFor="let badge of partnership.types" color="sowohigh">{{ badge }}</ion-badge>
    </div>

  </ion-card-content>
</ion-card>
