// Content

#container h2:first-of-type {
  margin-top: 0;
}

.search-container {
  border: 2px solid var(--ion-color-sowohigh);
  min-height: 140px;
  border-radius: 20px;
  margin-left: 5px;
}

.select-container {
  border: 2px solid var(--ion-color-sowohigh);
  border-radius: 20px;
  padding: 0 16px 0 0;
  margin: 0 16px;
}

.popover-wrapper .popover-content ion-list ion-item {
  --border-style: none;
}


.button-container {
  display: flex;
  justify-content: flex-end;
}

.button-container ion-button::part(native) {
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 20px;
}

ion-col.card-col {
  // flex: 0 0 260px;
  flex: 0 0 300px;
  padding: 16px 8px 16px 8px;
  // padding:0;
  // margin-right:10px;
  // width: 260px;
  // max-width: 260px;
}

ion-grid {
  --ion-grid-padding: 0;
}

.filter-text {
  margin-top: 8px;
}


// When side menu hides
@media only screen and (max-width: 990px) {

  // Content


}

// Mobile size
@media only screen and (max-width: 576px) {

  // Content

  ion-col.card-col {
    flex: 1 1 100%;
    // --ion-grid-column-padding: 32px;

    padding: 16px 0 16px 0;
    // margin-right:10px;
    // width: 260px;
    // max-width: 260px;
  }


  .search-container {
    margin-left: 0;
  }


}

