// Header area

ion-header.top-header {
  height: 168px;
}

ion-header ion-toolbar {
  margin-top: 48px;
}

ion-header ion-title {
  font-size: 24px;
  text-align: center;
  margin-left: 48px;
}

ion-menu-button {
  color: var(--ion-color-sowo);
}

.toolbar-icon {
  font-size: 28px;
  // margin-left: 10px;
}

.toolbar-icon.discord-icon {
  font-size: 32px;
}

.buttons-last-slot {
  margin-right: 32px;
}


// Content

ion-content {
  // --ion-background-color: #F7F7F7;
}

#container h2:first-of-type {
  margin-top: 0;
}

#container h3 {
  margin-top: 0px;
  margin-bottom: 4px;
}

#container p {
  margin-top: 4px;
  margin-bottom: 4px;
}

#container p.shade {
  color: rgba(var(--ion-color-sowo-rgb), 0.5);
}

.badge-container {
  margin-top: 4px;
  padding-top: 4px;
}

ion-badge {
  font-weight: 400;
  margin-right: 8px;
}

.round-img {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0;
}

.gap-web {
  height: 36px;
}

.social-icon {
  // color: rgb(0, 128, 255);
  font-size: 24px;
  margin-right: 8px;
}

ion-footer ion-toolbar {
  --background: #4B4E47;
  --min-height: 34px;
  --color: #ffffff;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 35px;
}

ion-button.submit-button {
  flex: 0 0 auto;
  width: 12.5rem;
  height: 70px;
}

ion-button::part(native) {
  border-radius: 10px;
  line-height: 1.5;
  font-size: 16px;
}

.login-container {
  margin: 0 auto;
  width: 27rem;
  // width: 50%;
  text-align: center;
}

.login-container h2 {
  color: var(--ion-color-sowo);
  margin-bottom: 20px;
}

.login-container p {
  font-size: 20px;
}

.welcome-container {
  margin: 0 auto;
  width: 100%;
  // width: 50%;
  text-align: center;
}

#container .welcome-container h2 {
  color: var(--ion-color-sowo);
  margin-top: 64px;
  margin-bottom: 32px;
}

#container .welcome-container p {
  // font-size: 20px;
}


ion-img.logo {
  width: 200px;
  margin: 20px auto 0 auto;
}



@media only screen and (max-width: 1250px) {

  .round-img {
    width: 17vw;
    height: 17vw;
  }

}

// When side menu hides
@media only screen and (max-width: 990px) {

  // Header area

  ion-header.top-header {
    height: 56px;
  }

  ion-header ion-toolbar {
    // --background: #F7F7F7;
    margin-top: 0;
  }

  // Content

  .round-img {
    width: 22vw;
    height: 22vw;
  }

}

// Mobile size
@media only screen and (max-width: 576px) {

  // Header area

  ion-header ion-title {
    font-size: 18px;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
  }

  // Content

  .round-img {
    width: 230px;
    height: 230px;
    margin: 0 auto;
  }

  #container .name {
    margin-top: 16px;
  }

  // #container {
  //   text-align: center;
  // }

}

