<ion-header class="ion-no-border top-header" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button *ngIf="canBack" text="" defaultHref="/onsowers"></ion-back-button>
    </ion-buttons>
    <ion-title>HOLA {{user ? user.displayName.toLocaleUpperCase() : ''}}</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="canEdit && !editing" (click)="onEdit()">
        <ion-icon class="toolbar-icon" name="create-outline"></ion-icon>
      </ion-button>
      <ion-button *ngIf="canEdit && editing" (click)="onDone()">
        <ion-icon class="toolbar-icon" name="checkmark-outline"></ion-icon>
      </ion-button>
      <!-- <ion-button>
        <ion-icon class="toolbar-icon" name="chatbubbles-outline"></ion-icon>
      </ion-button> -->
      <ion-button>
        <ion-icon class="toolbar-icon" name="chatbox-ellipses-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="main-content ion-padding" [fullscreen]="false">
  <!-- <ion-header collapse="condense"> -->
    <!-- When on iOS, this second header will be displayed, and the first header will only show when the users start to scroll. This follows the iOS design guidelines. -->
  <!-- </ion-header> -->

  <div id="container">
    <ion-row *ngIf="!canBack">
      <ion-col size="12">
        <h2 class="section-header">MI PERFIL</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="img-col" size="12" size-sm="3">

        <!-- photoUrl -->
        <app-edit-banner [editMode]="editing" [field]="fields.photoUrl" (editField)="onEditField($event)">
          <div  [ngClass]="{editblock: editing}" class="round-img">
            <ion-img style="object-fit: cover; display: initial; object-position: 50% 50%;" [src]="fields.photoUrl.value ? fields.photoUrl.value : fields.photoUrl.defaultValue"></ion-img>
          </div>
        </app-edit-banner>
      </ion-col>

      <ion-col size="12" size-sm="9">

        <!-- Name -->
        <ng-container *ngIf="editing">
          <app-edit-banner [editMode]="editing" [field]="fields.displayName" (editField)="onEditField($event)">
            <h3>{{ fields.displayName.value.toLocaleUpperCase() }}</h3>
          </app-edit-banner>
          <app-edit-banner [editMode]="editing" [field]="fields.familyName" (editField)="onEditField($event)">
            <h3>{{ fields.familyName.value.toLocaleUpperCase() }}</h3>
          </app-edit-banner>
        </ng-container>
        <ng-container *ngIf="!editing">
          <h3 class="name">{{ fields.displayName.value.toLocaleUpperCase() }} {{ fields.familyName.value.toLocaleUpperCase() }}</h3>
        </ng-container>

        <!-- jobDescription -->
        <app-edit-banner [editMode]="editing" [field]="fields.jobDescription" (editField)="onEditField($event)">
          <p>{{ fields.jobDescription.value }}</p>
        </app-edit-banner>

        <!-- jobAdditionalDesc -->
        <app-edit-banner [editMode]="editing" [field]="fields.jobAdditionalDesc" (editField)="onEditField($event)">
          <p class="shade">{{ fields.jobAdditionalDesc.value }}</p>
        </app-edit-banner>

        <!-- Badges -->
        <app-edit-banner [editMode]="editing" [field]="fields.areas" (editField)="onEditField($event)">
          <div class="badge-container">
            <ion-badge *ngFor="let badge of fields.areas.value" color="sowohigh">{{ badge }}</ion-badge>
          </div>
        </app-edit-banner>

        <div class="gap-web"></div>

        <!-- Web -->
        <app-edit-banner [editMode]="editing" [field]="fields.web" (editField)="onEditField($event)">
          <p><a href="http://{{ fields.web.value }}" target="_blank">{{ fields.web.value }}</a></p>
        </app-edit-banner>

        <!-- Social Icons -->
        <app-edit-banner [editMode]="editing" [field]="fields.socials" (editField)="onEditField($event)">
          <div class="icons-container">
            <a *ngFor="let social of socials"
              class="social-icon"
              href="http://{{ social.url }}" target="_blank">
              <ion-icon name="{{ social.icon }}"></ion-icon>
            </a>
          </div>
        </app-edit-banner>

        <!-- location -->
        <ng-container *ngIf="editing">
          <app-edit-banner [editMode]="editing" [field]="fields.city" (editField)="onEditField($event)">
            <p>{{ fields.city.value }}</p>
          </app-edit-banner>
          <app-edit-banner [editMode]="editing" [field]="fields.country" (editField)="onEditField($event)">
            <p>{{ fields.country.value }}</p>
          </app-edit-banner>
        </ng-container>
        <ng-container *ngIf="!editing && fields.city.value && fields.country.value">
          <p class="name"><ion-icon name="location-outline"></ion-icon> {{ fields.city.value }}, {{ fields.country.value }}</p>
        </ng-container>



      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <h1 class="section-header">CURIOSIDADES</h1>
      </ion-col>
    </ion-row>

    <!-- Curiosities -->
    <app-edit-banner [editMode]="editing" [field]="fields.curiosities" (editField)="onEditField($event)">
      <ion-row>
        <ion-col size="12" size-sm="6">
          <ng-container *ngFor="let curiosity of fields.curiosities.value">
            <p *ngIf="curiosity.order < 3">{{ curiosity.title }} {{ curiosity.description }}</p>
          </ng-container>
        </ion-col>
        <ion-col size="12" size-sm="6">
          <ng-container *ngFor="let curiosity of fields.curiosities.value">
            <p *ngIf="curiosity.order > 2">{{ curiosity.title }} {{ curiosity.description }}</p>
          </ng-container>
        </ion-col>
      </ion-row>
    </app-edit-banner>

    <ion-row>
      <ion-col size="12">
        <h1 class="section-header">UN POCO SOBRE MI Y MIS PROYECTOS</h1>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <!-- info -->
        <app-edit-banner [editMode]="editing" [field]="fields.info" (editField)="onEditField($event)">
          <div [innerHtml]="fields.info.value ? makeHtml(fields.info.value) : fields.info.defaultValue"></div>
        </app-edit-banner>

      </ion-col>
    </ion-row>


  </div>

</ion-content>

