<app-std-header [user]="user" [back]="'/events'">
  <app-header-button *ngIf="canEdit" iconName="copy-outline" (clicked)="onDuplicate()"></app-header-button>
  <app-header-button *ngIf="canEdit" iconName="trash-outline" (clicked)="onDelete()"></app-header-button>
  <app-header-button *ngIf="canEdit && !editing" (clicked)="onEdit()" iconName="create-outline"></app-header-button>
  <app-header-button *ngIf="canEdit && editing" (clicked)="onDone()" iconName="checkmark-outline"> </app-header-button>
</app-std-header>

<ion-content class="main-content ion-padding" [fullscreen]="false">
  <!-- <ion-header collapse="condense"> -->
    <!-- When on iOS, this second header will be displayed, and the first header will only show when the users start to scroll. This follows the iOS design guidelines. -->
  <!-- </ion-header> -->

  <div id="container">
    <ion-row>

      <!-- photoUrl -->
      <ion-col class="img-col" size="12" size-sm="5">
        <app-edit-banner [editMode]="editing" [field]="fields.photoUrl" (editField)="onEditField($event)">
          <div  [ngClass]="{editblock: editing}" class="round-img">
            <ion-img style="object-fit: cover; display: initial; object-position: 50% 50%;" [src]="fields.photoUrl.value ? fields.photoUrl.value : fields.photoUrl.defaultValue"></ion-img>
          </div>
        </app-edit-banner>
      </ion-col>

      <ion-col size="12" size-sm="7" class="ion-padding-start">

        <!-- Name -->
        <app-edit-banner [editMode]="editing" [field]="fields.name" (editField)="onEditField($event)">
          <h3>{{ fields.name.value }}</h3>
        </app-edit-banner>

        <!-- ShortName -->
        <app-edit-banner [editMode]="editing" [field]="fields.shortName" (editField)="onEditField($event)">
          <h4 style="color: var(--ion-color-sowohigh)">{{ fields.shortName.value }}</h4>
        </app-edit-banner>

        <!-- Date -->
        <app-edit-banner [editMode]="editing" [field]="fields.date" (editField)="onEditField($event)">
          <!-- <h3>{{ displayTimestamp(fields.date.value) }}</h3> -->
          <h4>{{ fields.date.value.toDate()| date: 'dd/MM/yyyy' }}</h4>
        </app-edit-banner>

        <!-- Hour -->
        <app-edit-banner [editMode]="editing" [field]="fields.hour" (editField)="onEditField($event)">
          <h4>{{ fields.hour.value }}</h4>
        </app-edit-banner>

        <!-- Description -->
        <app-edit-banner [editMode]="editing" [field]="fields.description" (editField)="onEditField($event)">
          <div [innerHtml]="fields.description.value ? makeHtml(fields.description.value) : fields.description.defaultValue"></div>
        </app-edit-banner>

        <ng-container *ngIf="editing">
          <!-- LinkText -->
          <app-edit-banner [editMode]="editing" [field]="fields.linkText" (editField)="onEditField($event)">
            <p>{{ fields.linkText.value }}</p>
          </app-edit-banner>

          <!-- Link -->
          <app-edit-banner [editMode]="editing" [field]="fields.link" (editField)="onEditField($event)">
            <p>{{ fields.link.value }}</p>
          </app-edit-banner>
      </ng-container>

      <ng-container  *ngIf="!editing">
        <a href="http://{{ fields.link.value }}" target="_blank">{{ fields.linkText.value }}</a>
      </ng-container>


      </ion-col>
    </ion-row>
  </div>
</ion-content>
