<h2 mat-dialog-title>{{ data.label }}</h2>

<div class="load-button-container" *ngIf="data.type=='img'" >
  <button type="button" mat-raised-button color="primary" (click)="imgInput.click()">Elige foto</button>
  <input hidden (change)="uploadFile($event, 'img')" #imgInput type="file" id="img" accept="image/*">
  <div class="upload-progress" *ngIf="(uploadPercent$ | async) as percentage">
    <mat-progress-bar class="progress-bar" mode="determinate" [value]="percentage"></mat-progress-bar>
  </div>
</div>

<div class="load-button-container" *ngIf="data.type=='file'" >
  <button type="button" mat-raised-button color="primary" (click)="fileInput.click()">Choose File</button>
  <input hidden (change)="uploadFile($event, 'pdf')" #fileInput type="file" id="pdf" accept=".pdf">
  <div class="upload-progress" *ngIf="(uploadPercent$ | async) as percentage">
    <mat-progress-bar class="progress-bar" mode="determinate" [value]="percentage"></mat-progress-bar>
  </div>
</div>

<form [formGroup]="dialogForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>

    <!-- text -->
    <mat-form-field *ngIf="data.type=='text'" appearance="fill">
      <!-- <mat-label>Nuevo valor</mat-label> -->
      <input matInput formControlName="editText" cdkFocusInitial>
      <mat-error *ngIf="(dialogForm.controls.editText.statusChanges | async)!=='valid'">Valor no valido</mat-error>
    </mat-form-field>

    <!-- textarea -->
    <mat-form-field *ngIf="data.type=='textarea'" appearance="fill">
      <!-- <mat-label>Nuevo valor</mat-label> -->
      <textarea rows="10" cols="50" matInput formControlName="editText" cdkFocusInitial></textarea>
      <mat-error *ngIf="(dialogForm.controls.editText.statusChanges | async)!=='valid'">Valor no valido</mat-error>
    </mat-form-field>

    <!-- Link -->
    <mat-form-field *ngIf="data.type=='link'" appearance="fill">
      <!-- <mat-label>Nuevo valor</mat-label> -->
      <input matInput type="url" formControlName="editText" cdkFocusInitial>
      <mat-error *ngIf="(dialogForm.controls.editText.statusChanges | async)!=='valid'">Valor no valido</mat-error>
    </mat-form-field>

    <!-- badge -->
    <ul *ngIf="data.type=='badge'">
      <li *ngFor="let badge of data.value; let i = index">
        <mat-checkbox
          (change)="onChange($event, i)"
          [checked]="badge.checked"
          color="primary">
          {{badge.name}}
        </mat-checkbox>
     </li>
    </ul>

    <!-- Date -->
    <mat-form-field *ngIf="data.type=='date'" >
      <!-- <mat-label>Month and Year</mat-label> -->
      <input matInput [matDatepicker]="dp" formControlName="editText" (change)="onChangeDate($event)">
      <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
      <mat-datepicker #dp
                      [startAt]="dialogForm.controls.editText.value"
                      (yearSelected)="chosenYearHandler($event)"
                      (monthSelected)="chosenMonthHandler($event, dp)"
                      panelClass="my-month-picker">
      </mat-datepicker>
    </mat-form-field>

    <!-- combo -->
    <!-- <mat-form-field *ngIf="data.type=='combo'" appearance="fill">
      <input matInput formControlName="editText" cdkFocusInitial>
      <mat-error *ngIf="(dialogForm.controls.editText.statusChanges | async)!=='valid'">Valor no valido</mat-error>
    </mat-form-field> -->

    <!-- combo -->
    <!-- <ion-select *ngIf="data.type=='combo'" formControlName="editText"
    interface="popover"
    placeholder="Tipo de formación"
    [selectedText]="dialogForm.controls.editText.value">
      <ion-select-option [value]="'Todos los tipos'">Todos las tipos</ion-select-option>
      <ion-select-option *ngFor="let option of options" [value]="option">{{option}}</ion-select-option>
    </ion-select> -->


    <!-- <select *ngIf="data.type=='combo'"
      formControlName="editText">
      <option *ngFor="let option of options" [value]="option">{{option}}</option>
    </select> -->

    <mat-form-field *ngIf="data.type=='combo'" appearance="fill">
      <mat-select formControlName="editText">
        <mat-option *ngFor="let option of options" [value]="option">{{option}}</mat-option>
      </mat-select>
    </mat-form-field>


    <ion-img *ngIf="data.type=='img' && imageUrl" [src]="imageUrl"></ion-img>
    <ion-label *ngIf="data.type=='file'">{{ fileTitle }}</ion-label>

  </mat-dialog-content>

  <mat-dialog-actions align="end">

    <button mat-raised-button type="button" (click)="close()">
        Cancelar
    </button>

    <button mat-raised-button cdkFocusInitial color="primary" type="submit" >
        Guardar
    </button>
  </mat-dialog-actions>
</form>
