<app-std-header [back]="'/auth/signup'"></app-std-header>

<ion-content class="main-content ion-padding" [fullscreen]="false">
  <!-- <ion-header collapse="condense"> -->
    <!-- When on iOS, this second header will be displayed, and the first header will only show when the users start to scroll. This follows the iOS design guidelines. -->
  <!-- </ion-header> -->

  <div id="container">
    <h2 class="section-header">Politica de Privacidad</h2>
    <p>Pendiente</p>
  </div>
</ion-content>

<app-std-footer></app-std-footer>
