// Content

#container {
  text-align: center;
  padding: 0 64px;
}

.social-icon {
  font-size: 32px;
  margin-right: 8px;
  cursor: pointer;
}


// When side menu hides
@media only screen and (max-width: 990px) {

  // Content


}


// Mobile size
@media only screen and (max-width: 576px) {

  // Content

  #container {
    padding: 0 8px;
  }

}

